/* General styling */

body {
    background-image: linear-gradient(to top, #6ad0d4, #ffae78);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 24px;
  font-size: 18px;
}

p.pre-bullet {
  margin-bottom: 12px;
}

h1 {
  margin-top: 15px;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  margin-bottom:5px;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 34px;
  font-size:32px;
}

h3, .h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #3997a9;
}


ul {
  margin-bottom: 24px;
}

li {
  font-size: 18px;
}

hr { 
  border: 0; 
  height: 2px; 
  background-color: #979797; 
  width: 90%;
}

#top:focus {
    outline: none;
}

#mainbody-container {
    flex: 1;
}

#mainbody-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

[class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.content-row { 
  padding: 30px 0px 75px 0px;
}

.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.mainbody {
    flex: 1 0 auto;
}

.mainbody, .banner {
    background-color: #fff;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  margin-right: 0px;

}

.icon-left {
  background-position: left center;
}



/* Buttons */

.btn {
      padding: 15px 30px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
}

a.btn:visited, a.btn:hover, a.btn:focus, a.btn:active {
  color: #ffffff;
}

.dark-blue-btn {
    background-color: #055f71;
    box-shadow: 0 2px 0 0 #034957;
}

.dark-blue-btn:hover {
    background-color: #057389;
    box-shadow: 0 2px 0 0 #034957;
}

.light-blue-btn {
    padding: 9px 32px 11px;
    background-color: #005e8d;
    box-shadow: 0 2px 0 0 #034957;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
}

.light-blue-btn:hover {
  background-color: #0172aa;
}

.perp-btn {
  border-radius: 4px;
  background-color: #005e8d;
  box-shadow: 0 2px 0 0 #034957;
  margin-bottom: 20px;
}


/* Nav and footer */

nav, footer {
    background-color: #fff;
}

nav ul > li > a {
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #111111;
}

#brand_link img {
    width: 28px;
    height: 28px;
    float: left;
}

#callisto {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2.1px;
    color: #262626;
    text-transform: uppercase;
}

.navbar-right {
    clear: both;
}

.col-xs-offset-1-half-nested {
    margin-left: 6.8181818181%; <!-- 1.5 / 22 -->
}

.col-xs-after-1-half-offset {
    margin-right: 6.8181818181%; <!-- 1.5 / 22 -->
}

#id_header .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-border {
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #ffae78, #6ad0d4);
    border-image-slice: 1;
}

.footer-content {
    border-top: solid 2px #979797;
    padding: 15px 0px;
    display: flex;
}

.footer-content .nav {
    margin-left: 8px;
}

.footer-content .navbar-nav>li>a {
    padding: 0px 17px;
}

.copyright {
    opacity: 0.8;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #4a4a4a;
    margin-top: 0px;
}

.hotline {
    font-size: 11px;
    font-weight: 400;
    color: #585858;
    display: inline-block;
    margin-left: 25px;
}

.footer-content a[href^="tel:"] {
    color: inherit;
}

.footer .row {
    width: 100%;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.header,
.footer {
  flex-shrink: 0;
}

#facebook-share {
  padding: 5px 20px;
}

.footer .navbar-nav>li {
  float: none;
}

.footer nav ul > li > a {
  text-align: left;
}

.footer .footer-glyphicon {
  float:left !important;
  margin-top: 5px;
}

nav ul > li.footer-glyphicon > a {
  font-size: 24px;
}

.footer-heading {
  left: 17px;
}


/* Banner */

.subheader {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
}

.banner {
    padding-bottom: 20px;
    border-bottom: solid 2px #dfdfdf;
}

.visible-xs-block .banner {
    border-bottom: none;
}

#faces, #donate-banner, #hiw-banner {
    background-color: black;
    width:100%;
    padding-bottom: 44%;
    background-size: cover;
    position: relative;
}

.banner-index {
    background-color: black;
    width:100%;
    padding-bottom: 44%;
    background-size: cover;
    position: relative;
}

.banner-med-height {
    background-color: black;
    width:100%;
    padding-bottom: 35%;
    background-size: cover;
    position: relative;
}

#banner-content {
  position: absolute;
  top: 25%;
  left: 12.5%;
  width: 80%;
}

.subheader {
  font-size: 21px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 35px;
  color: #ffffff;
  text-align: left;
  width: 62.5%
}

#banner-btn {
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  padding: 11px 40px 13px;
}

.banner {
    min-height: 300px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-bottom: 0px;
}

.banner-container{
    display: flex;
    align-items: center;
}

.section_subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #575757;
}


/* Quoteblock */
.quote {
      background-color: #309da1;
      color: #f7f7f7;
      text-align: center;
}

.quote-content {
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 15px;
  left: -70px;
  margin-right: -70px;
}

.quote-no-marks {
  margin-bottom: 59px;
  margin-top:0px;
  left: 0px;
  margin-right: 0px;
  font-style: inherit;
  text-align: left;
}

.quote h2 {
  color: #f7f7f7;
  margin-top: 51px;
  margin-bottom: 0px;
}

.quote-no-marks h2 {
  margin-bottom: 24px;
}

.quote-attribution {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
}

.quote-mark {
  font-size: 41px;
  font-weight: 700;
  opacity: 0.7;
}

.quote-mark-left {
    float: left;
    margin-left: 51px;
    margin-top: 20px;
}

.quote-mark-right {
    float: right;
    margin-right: 51px;
    margin-top: 20px;
}


/* Forms */

.form-row textarea {
  border-radius: 16px;
}

.form-row input[type=text], .footer input[type=email] {
  height: 48px;
  border-radius: 16px;
}

.form-row .form-group {
  margin-bottom: 8px;
}

.form-row .form-control, .footer .form-control {
  font-size: 18px;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.form-row .checkbox {
  padding-top:0;
}

.form-row .form-control:focus, #suggest .form-control:focus, #demo .form-control:focus, #fundraise .form-control:focus, .form-row textarea:focus {
  border: 2px solid #3997a9;
  text-indent: 0px;
  background-image:none !important;
}

.form-row input[type=text], .form-row input[type=email], .form-row textarea {
  background-position: 20px 15px;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
}

#suggest input[type=text], #suggest input[type=email], #suggest textarea {
  text-indent: 35px;
  }

input#Field1, #demo input#Field3 {
  background-image: url('../images/suggest_school_icon.png');
}

input#Field105, #demo input#Field1 {
  background-image: url('../images/suggest_name_icon.png');
}

input#Field106, #demo input#Field6 {
  background-image: url('../images/suggest_email_icon.png');
}

input#Field108, #demo input#Field2 {
  background-image: url('../images/suggest_title_icon.png');
}

textarea#Field110 {
  background-image: url('../images/suggest_help_icon.png');
  padding-top: 12px;
}

.form-row .btn {
  margin-top:34px;
}

#mc_embed_signup {
  text-align: center;
}

#mc_embed_signup input[type=email] {
  height: 48px;
    border-radius: 16px;
}



/* Homepage */

.front-page h3, .front-page .h3 {
  text-transform: none;
  font-size: 20px;
}

#school-logo {
    width: 70px;
    float: left;
}

#faces {
    background:url('../images/jess_ted.png');
    background-position:center;
    background-size: cover;
    }

#faces:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #103536, #833500);
  opacity: .6;
}

.hiw_icon {
  height: 57px;
}

.hiw-column {
  margin-bottom: 20px;
}

#hiw-row {
    display: flex;
    justify-content: space-between;
}

#supporters h3, #partners h3 {
  color: #222;
  font-weight: 500;
}

#how_it_works_grid h3 {
  margin-top: 26px;
}

#how_it_works_grid {
  margin-top: 50px;
}

.explanation {
  min-height: 80px;
  display: block;
  margin-bottom: 20px;
}

.because {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #3997a9;
}

.because-caret {
  height: 22px;
  margin-bottom: 25px;
  background-image: url('../images/because_carat.png');
}

#press {
  min-height: 143px;
  border-bottom: 1px solid #d2d4d4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #F1F7F7)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F1F7F7 100%);
}

#press>div {
  display: flex;
  justify-content: space-between;
}

#press a {
  margin: 55px 10px 0px 10px;
}

#press a:hover, #press a:focus {
  border-bottom: 2px solid #3e99aa !important;
}

#press .btn {
  margin-top: 40px;
}

#press a.btn:hover, #press a.btn:focus {
    border-bottom: none !important;
}

.partner-row {
    margin-bottom: 35px;
}

.partner_icon {
  height: 80px;
}

.partner-column {
  margin-bottom: 20px;
  padding: 0px 15px;
}

.partner-btn {
  margin-top: 30px;
  text-align:center;
}


/* What We Do page styling */
#what-banner {
    background-image:url('../images/donate-header.png');
    background-position:bottom;
}


/* Who We Are page styling */
#meet-the-team li {
  list-style:none;
}


/* Get Involved page styling */

#involved-banner {
    background-image:url('../images/donate-header.png');
    background-position:bottom;
}

.community-icon {
  color: black;
  font-size: 60px;
  padding: 0px 8px;
}

a.community-icon:hover {
  text-decoration: none;
}

#stay-in-touch #mc_embed_signup {
  margin-top: 30px;
}


/* Donate */

#donate-banner #banner-content {
  position: inherit;
  padding: 5% 0%;
}
     
#donate-banner #banner-content .subheader {
  width: 80%;
}

#donate-banner {
    background-image:url('../images/donate-header.png');
    background-position:bottom;
    overflow: auto;
      padding-bottom: 0;

}

#donate-cta-row > div+div {
    border-left: 1px solid #bbb;
}

#donate-cta-row p {
    margin-bottom: 31px;
        min-height: 93px;
}

#donate-cta-row {
    margin-bottom:26px;
}

.donate-banner-content {
    max-width:800px;
    top:12%;
}

.give-now-btn {
  background-color: #f09559;
  box-shadow: 0px #ffffff;
}

.give-now-btn:hover {
  background-color: #e5803d;
}

.donate-glyphicon {
  font-size: 32px;
  padding: 5px 15px;
  margin: auto 6px;
}

#guidestar-logo {
  float: left;
  height: 48px;
}

#guidestar-text {
  line-height: 48px;
  padding-left: 15px;
  float: left;
}

#guidestar {
  margin-top: 70px;
}



/* Where does this go? */


#how-it-works {
   text-align: center;
}

#how-it-works-intro {
    font-size: 20px;
    color: #585858;
    line-height: 1.3;
}

#how-it-works-sections, #why-callisto-sections {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 65px;
    margin-left: 10px;
    margin-right: 10px;
}

.hiw-section {
  max-width: 195px;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  line-height: 1.2;
}

.hiw-section h3 {
    margin: 0px;
}

.hiw-or {
    font-size: 14px;
    font-weight: 800;
    color: #585858;
    background-color: #f7f7f7;
    text-transform: uppercase;
    border: 1px solid #bfbfbf;
    height: 30px;
    width: 30px;
    line-height: 28px;
    border-radius: 16px;
    margin: 0px 30px;
}

#jsi {
    background-image:url('/static/images/jsi_icon.png');
    height: 26px;
}

#wfo {
    background-image:url('/static/images/wfo_icon.png');
    height: 25px;
}

#rin {
    background-image:url('/static/images/rin_icon.png');
    height: 19px;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.wuc-section {
    max-width: 205px;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    margin: 0px 42px;
    display: flex;
    justify-content: space-around
    line-height: 1.2;
}

.wuc-check {
    height: 30px;
    font-size: 30px;
    color: #38b6ba;
    margin-right: 13px;
}

#closer {
  font-size: 29px;
  font-weight: 600;
  text-align: center;
  color: #222222;
  line-height: 1.2;
}

#closer a {
    margin-top: 35px;
    margin-bottom: 50px;
}

#hiw-banner {
    background-image:url('../images/donate-header.png');
    background-position:bottom;
}

#about-banner {
    background-image:url('../images/donate-header.png');
    background-position:bottom;
}


.header_text h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #fff;
  text-align: left;
}


@media only screen and (min-width : 768px) {
    .col-sm-after-1-half-offset {
        margin-right: 6.8181818181%; <!-- 1.5 / 22 -->
    }
}


@media (min-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
    }

    .navbar-right {
        margin-left: auto;
    }
}

/* sm (tablet) screens only */
@media only screen and (max-width : 992px) and (min-width : 768px){
    #id_header ul > li >a {
        position: relative;
        display: block;
        padding: 10px 6px;
    }

    #callisto {
       font-size: 18px;
    }
}

/* md (laptop) & bigger screens */
@media only screen and (min-width : 992px) {
    .footer .navbar-nav {
        width: 80%;
    }
}

/* sm (tablet) & bigger screens */
@media only screen and (min-width : 768px) {
    .partner-row {
      display: flex;
      justify-content: center;
    }
}


/* sm (tablet) & smaller screens */
@media only screen and (max-width : 992px) {
    .copyright {
        display: inline-block;
        float: right;
    }

    .hotline {
        float: right;
        text-align: right;
        font-size: 13px;
    }

    .footer .navbar-nav {
        float: left;
        margin: 0;
    }
}

/* xs (phone) screens */
@media only screen and (max-width : 768px) {
    .hotline {
        clear: both;
        text-align: left;
        margin-left: 0px;
        font-size: 13px;
        float: left;
    }

    .copyright {
        clear: both;
        text-align: left;
        margin-left: 0px;
        float: left;
    }

    #id_header ul > li > a {
        text-align: center;
    }

    #id_header .navbar-nav {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}


@media only screen and (max-width : 1020px) {
    #banner-content {
        top: 10%;
        left: 10%
    }


    .hiw-or {
        margin: 0px 15px;
    }

    .wuc-section {
        margin: 0px 10px;
    }

}

@media only screen and (max-width : 900px) {
    .subheader, #donate-banner #banner-content .subheader{
        width:100%;
    }
}

.wuc-section >div:first-child {
 -webkit-flex:1 0 auto;
}

@media only screen and (max-width : 767px) {

    .checkbox-row {
    display: block;
  }

  .checkbox-row > div {
    float: left;
    margin-left: 15px;
  }

/* placeholder doesn't indent properly on mobile Safari */
  textarea#Field110 {
    background-image: none;
    padding-top: 12px;
    text-indent: 0;
  }

    #faces, #hiw-banner {
        width:100%;
        background-size: cover;
        position: relative;
        padding-bottom: 0;
    }

    #banner-content, #donate-banner #banner-content {
      position: inherit;
      padding: 70px 32px;
      left: 0;
      width: 100%;

    }


    .title-fragment {
        display: block;
    }

    .quote {
        padding: 0px 16px;
    }

    .quote > .row {
        display: flex;
        justify-content: center;
    }

    .quote-mark-right {
        margin-left: 12px;
        margin-right: 0;
        float: none;
        margin-top: 45px;
    }

    .quote-mark-left {
        margin-left: 0;
        margin-right: 12px;
        float: none;
        margin-top: 45px;
    }

    .quote-mark-right {
        flex-shrink: 0;
    }

    .quote-content {
        left: 0;
        margin-top: 60px;
        margin-right:0;
    }

    .quote-no-marks {
      margin-top: 0px;
      margin-left: 0px;
    }

    #how-it-works-sections, #why-callisto-sections {
        flex-direction: column;
        align-items: center;
        margin-top: 38px;
        margin-bottom: 51px;
    }

    .hiw-or {
        margin: 43px 0px;
    }

    .hiw-section {
        max-width: none;
        margin: 0px 50px;
    }

    .quote-attribution {
        margin-bottom: 60px;
    }

    h2 {
        margin-top: 51px;
    }

    .wuc-section {
        margin-bottom: 21px;
    }

    #banner-content {
        text-align: center;
    }

    #how-it-works {
        padding: 0 10px;
    }


  #donate-cta-row > div+div {
      border-left: none;
      margin-top:71px;
  }

  #guidestar-text {
    line-height: inherit;
    padding-left: inherit;
  }

  #guidestar-logo {
    margin-bottom: 15px;
    height: inherit;
  }

  #donate-cta-row p {
        min-height: inherit;
  }

  .copyright {
    margin-top:25px;
  }

  #hiw-row {
    display: inherit;
  }
  .explanation {
    min-height: 0px;
  }

  .because-caret {
    margin-bottom: 0px;
  }

  .hiw-column {
    margin-bottom: 50px;
  }

  .partner-btn {
    text-align: center;
  }

  .partner-column:not(:first-child) {
    margin-top: 70px;
  }

#press {
  min-height: 143px;
  border-bottom: 1px solid #d2d4d4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #F1F7F7)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F1F7F7 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F1F7F7 100%);
}

#press>div {
  display: flex;
  justify-content: space-between;
}

#press a {
  margin: 55px 10px 0px 10px;
}

#press a:hover, #press a:focus {
  border-bottom: 2px solid #3e99aa !important;
}

  .carousel-inner>.item img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
    padding-top: 12px;
  }

  .carousel-inner>.item {
    height: 70px;
  }

  #press {
    min-height: 70px;
    max-height: 70px;
  }

  #press.row {
    padding-left: 0;
    padding-right: 0;
  }

  #press a {
    margin: inherit;
  }

  #press .btn {
    margin-top: 10px;
    width: auto;
  }

  #press .item>a {
    margin-left: 50px;
    margin-right: 50px;
  }

  #press a {
    border-bottom: 2px solid transparent;
    margin-bottom: 6px;
  }

  #press #carousel-press .btn.btn-default {
    border-bottom: 3px solid;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    max-width: 200px;
  }

  .carousel-control {
    background: none !important;
    color: #99a2a3;
    text-shadow: none;
    top: 22px;
  }

  .carousel-inner>.item.active>a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-inner>.item.next.left>a, .carousel-inner>.item.prev.right>a {
    display: flex;
    align-items: center;
 }

  #carousel-press > a.carousel-control {
    border: none !important;
  }

  .carousel-control:focus, .carousel-control:hover {
    color: inherit;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
  }
}


