@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src:
		local('Raleway Thin'),
		local('Raleway-Thin'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptsg8zYS_SKggPNwE44TYFq.woff2 */
		url('/images/fonts/Raleway_100.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptsg8zYS_SKggPNwE44TYFs.woff */
		url('/images/fonts/Raleway_100.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptsg8zYS_SKggPNwE44TYFu.eot */
		url('/images/fonts/Raleway_100.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptsg8zYS_SKggPNwE44TYFt&skey=282f34f0dd9ad023&v=v13#Raleway */
		url('/images/fonts/Raleway_100.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptsg8zYS_SKggPNwE44TYFv.ttf */
		url('/images/fonts/Raleway_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src:
		local('Raleway Light'),
		local('Raleway-Light'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2 */
		url('/images/fonts/Raleway_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBg.woff */
		url('/images/fonts/Raleway_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBA.eot */
		url('/images/fonts/Raleway_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwIYqWqZPBw&skey=f383b08b06c2c86f&v=v13#Raleway */
		url('/images/fonts/Raleway_300.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf */
		url('/images/fonts/Raleway_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src:
		local('Raleway'),
		local('Raleway-Regular'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2 */
		url('/images/fonts/Raleway_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISQ.woff */
		url('/images/fonts/Raleway_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISw.eot */
		url('/images/fonts/Raleway_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptug8zYS_SKggPNyC0ISA&skey=30a27f2564731c64&v=v13#Raleway */
		url('/images/fonts/Raleway_400.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf */
		url('/images/fonts/Raleway_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src:
		local('Raleway Medium'),
		local('Raleway-Medium'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2 */
		url('/images/fonts/Raleway_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBg.woff */
		url('/images/fonts/Raleway_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBA.eot */
		url('/images/fonts/Raleway_500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwN4rWqZPBw&skey=91a0260e01fd7629&v=v13#Raleway */
		url('/images/fonts/Raleway_500.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf */
		url('/images/fonts/Raleway_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src:
		local('Raleway SemiBold'),
		local('Raleway-SemiBold'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2 */
		url('/images/fonts/Raleway_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBg.woff */
		url('/images/fonts/Raleway_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBA.eot */
		url('/images/fonts/Raleway_600.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwPIsWqZPBw&skey=484edb0fdce88a64&v=v13#Raleway */
		url('/images/fonts/Raleway_600.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf */
		url('/images/fonts/Raleway_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src:
		local('Raleway Bold'),
		local('Raleway-Bold'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2 */
		url('/images/fonts/Raleway_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPBg.woff */
		url('/images/fonts/Raleway_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPBA.eot */
		url('/images/fonts/Raleway_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwJYtWqZPBw&skey=e507c3e2b7915ad1&v=v13#Raleway */
		url('/images/fonts/Raleway_700.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf */
		url('/images/fonts/Raleway_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src:
		local('Raleway Black'),
		local('Raleway-Black'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPAA.woff2 */
		url('/images/fonts/Raleway_900.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPBg.woff */
		url('/images/fonts/Raleway_900.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPBA.eot */
		url('/images/fonts/Raleway_900.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=1Ptrg8zYS_SKggPNwK4vWqZPBw&skey=9f97eed2e89af09d&v=v13#Raleway */
		url('/images/fonts/Raleway_900.svg#Raleway') format('svg'),
		/* from https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPBQ.ttf */
		url('/images/fonts/Raleway_900.ttf') format('truetype');
}
@font-face {
	font-family: 'Sorts Mill Goudy';
	font-style: normal;
	font-weight: 400;
	src:
		local('Sorts Mill Goudy Regular'),
		local('SortsMillGoudy-Regular'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEjw.woff2 */
		url('/images/fonts/Sorts_Mill_Goudy_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEiQ.woff */
		url('/images/fonts/Sorts_Mill_Goudy_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEiw.eot */
		url('/images/fonts/Sorts_Mill_Goudy_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEiA&skey=22cb687a970a0180&v=v8#SortsMillGoudy */
		url('/images/fonts/Sorts_Mill_Goudy_400.svg#SortsMillGoudy') format('svg'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEig.ttf */
		url('/images/fonts/Sorts_Mill_Goudy_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Sorts Mill Goudy';
	font-style: italic;
	font-weight: 400;
	src:
		local('Sorts Mill Goudy Italic'),
		local('SortsMillGoudy-Italic'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs_.woff2 */
		url('/images/fonts/Sorts_Mill_Goudy_400i.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs5.woff */
		url('/images/fonts/Sorts_Mill_Goudy_400i.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs7.eot */
		url('/images/fonts/Sorts_Mill_Goudy_400i.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs4&skey=f3a9910c3adf6761&v=v8#SortsMillGoudy */
		url('/images/fonts/Sorts_Mill_Goudy_400i.svg#SortsMillGoudy') format('svg'),
		/* from https://fonts.gstatic.com/s/sortsmillgoudy/v8/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs6.ttf */
		url('/images/fonts/Sorts_Mill_Goudy_400i.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	src:
		local('Montserrat Thin'),
		local('Montserrat-Thin'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7m.woff2 */
		url('/images/fonts/Montserrat_100.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7g.woff */
		url('/images/fonts/Montserrat_100.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7i.eot */
		url('/images/fonts/Montserrat_100.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=JTUQjIg1_i6t8kCHKm45_QpRyS7h&skey=7eae9536f271f41a&v=v13#Montserrat */
		url('/images/fonts/Montserrat_100.svg#Montserrat') format('svg'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf */
		url('/images/fonts/Montserrat_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src:
		local('Montserrat Light'),
		local('Montserrat-Light'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2 */
		url('/images/fonts/Montserrat_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff */
		url('/images/fonts/Montserrat_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-g.eot */
		url('/images/fonts/Montserrat_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_cJD3gnD-Q&skey=1ce67628c9aa416a&v=v13#Montserrat */
		url('/images/fonts/Montserrat_300.svg#Montserrat') format('svg'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf */
		url('/images/fonts/Montserrat_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src:
		local('Montserrat Medium'),
		local('Montserrat-Medium'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2 */
		url('/images/fonts/Montserrat_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD-A.woff */
		url('/images/fonts/Montserrat_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD-g.eot */
		url('/images/fonts/Montserrat_500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_ZpC3gnD-Q&skey=7675f1290281829e&v=v13#Montserrat */
		url('/images/fonts/Montserrat_500.svg#Montserrat') format('svg'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf */
		url('/images/fonts/Montserrat_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src:
		local('Montserrat SemiBold'),
		local('Montserrat-SemiBold'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2 */
		url('/images/fonts/Montserrat_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff */
		url('/images/fonts/Montserrat_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD-g.eot */
		url('/images/fonts/Montserrat_600.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_bZF3gnD-Q&skey=72ae044fab0d9adc&v=v13#Montserrat */
		url('/images/fonts/Montserrat_600.svg#Montserrat') format('svg'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf */
		url('/images/fonts/Montserrat_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src:
		local('Montserrat Bold'),
		local('Montserrat-Bold'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2 */
		url('/images/fonts/Montserrat_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff */
		url('/images/fonts/Montserrat_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-g.eot */
		url('/images/fonts/Montserrat_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_dJE3gnD-Q&skey=11a939c399e8c9fe&v=v13#Montserrat */
		url('/images/fonts/Montserrat_700.svg#Montserrat') format('svg'),
		/* from https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf */
		url('/images/fonts/Montserrat_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local('Open Sans Regular'),
		local('OpenSans-Regular'),
		/* from https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2 */
		url('/images/fonts/Open_Sans.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0d.woff */
		url('/images/fonts/Open_Sans.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0f.eot */
		url('/images/fonts/Open_Sans.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v16#OpenSans */
		url('/images/fonts/Open_Sans.svg#OpenSans') format('svg'),
		/* from https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf */
		url('/images/fonts/Open_Sans.ttf') format('truetype');
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: normal;
	src:
		local('Oswald Regular'),
		local('Oswald-Regular'),
		/* from https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8G.woff2 */
		url('/images/fonts/Oswald.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8A.woff */
		url('/images/fonts/Oswald.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8C.eot */
		url('/images/fonts/Oswald.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=TK3iWkUHHAIjg752GT8B&skey=653237e53512d0de&v=v17#Oswald */
		url('/images/fonts/Oswald.svg#Oswald') format('svg'),
		/* from https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8D.ttf */
		url('/images/fonts/Oswald.ttf') format('truetype');
}
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
	src:
		local('Playfair Display Regular'),
		local('PlayfairDisplay-Regular'),
		/* from https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2 */
		url('/images/fonts/Playfair_Display.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhg.woff */
		url('/images/fonts/Playfair_Display.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhA.eot */
		url('/images/fonts/Playfair_Display.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhw&skey=f3b68f0152604ed9&v=v14#PlayfairDisplay */
		url('/images/fonts/Playfair_Display.svg#PlayfairDisplay') format('svg'),
		/* from https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf */
		url('/images/fonts/Playfair_Display.ttf') format('truetype');
}
