@import '_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700');

body {
  font-family: $font-main;
  font-size: 16px;
}

h3 {
  color: $primary-title-color;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-transform: none;
}

h4 {
  color: #385C6C;
  font-weight: 500;
}

section p {
  font-size: 16px;
  text-align: center;
}

.main-header {
  align-items: flex-start;
  background-position: center;
  color: $color-white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 377px;
  padding: 60px 115px;
  width: 100%;
}

.main-header h2 {
  font-size: 40px;
  font-weight: 500;
}

.main-header p {
  color: $color-white;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 572px;
}

.quote-section {
  background-image: url('../../images/Assets/QuotePattern_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
}

.quote-section span {
  font-size: 1em;
  font-weight: 500;
}

.gradient-button {
  background: linear-gradient(130.96deg, $color-blue-button 0%, $color-blue-deeper 100%);
  border-radius: 50px;
  border: 0;
  color: $color-white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 13px 39px;
  text-transform: uppercase;
  width: 300px;
  a {
    color: white;
  }
}

.gradient-button:hover,
.gradient-button:focus {
  color: $color-white;
}

section {
  padding: 60px $container-padding-lg;
  text-align: center;
}

@media (max-width: $max-width-sm) {
  section {
    padding: 50px $container-padding-sm;
  }

  h3 {
    font-size: 25px;
  }

  .main-header {
    flex-direction: column;
    height: 372px;
    padding: 0 20px;
  }

  .main-header h2 {
    font-size: 25px;
    margin-bottom: 6px;
  }

  .main-header p {
    font-size: 16px;
    width: auto;
  }

  .main-header a {
    align-self: center;
    display: block;
    margin-bottom: 26px;
  }

  .gradient-button {
    font-size: 15px;
    padding: 13px 21px;
  }
}
