@import 'main.scss';

.what-we-do-header {
  background-image: url('../../images/Assets/Whatwedo_headerimage.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.our-approach {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px $container-padding-lg;
}

.quote-section {
  background-image: url('../../images/Assets/QuotePattern_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
