---
layout: default
css: /css/get-involved.css
---

<header class="main-header get-involved-header">
    <h2>Get Involved</h2>
    <p>Join our movement to support survivors across the country.</p>
    <a href="https://www.classy.org/campaign/help-stop-repeat-perpetrators-wherever-they-are/c150968" class="gradient-button">Donate</a>
</header>

<section class="become-partner">
    <div class="paragraph-content-spacer">
        <h3>Join Us</h3>
        <p>Our vision is to enable survivors to find support and identify repeat perpetrators, wherever they are. Help take action to bring Callisto to a campus, institution, or professional setting near you. </p>
        <p><a href="#become-partner">Become a Callisto Campus Partner</a></p>
        <p><a href="#suggest">Bring Callisto To Your School</a></p>
        <p><a href="/donate">Donate to / Fundraise for Callisto</a></p>
        <p><a href="#contact-us-section">Explore Professional Partnership</a></p>
        <p><a href="#contact-us-section">Volunteer at Callisto</a></p>
        <p><a href="#mailchimp-pattern-section">Get Updates on Callisto</a></p>
        <p><a href="/work-with-us">Join our Team</a></p>
    </div>
</section>

<section class="contact-form" id="become-partner">
    <div class="paragraph-content-spacer">
        <h3>Become a Callisto Partner</h3>
        <p class="content">By becoming a Callisto partner, you are showing a commitment to your community to combat sexual harassment and assault. If you are a decision-maker at your institution, request a demo.</p>
        <br />
        <form id="suggest" name="form17" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://sexualhealthinnovations.wufoo.com/forms/z11nek2b1vzv2xc/#public">
            <div class="form-group" id="foli1">
                <label for="Field1" class="control-label sr-only">Name</label>
                <input type="text" value="" placeholder="Name" name="Field1" class="required form-control" id="Field1" maxlength="255" onkeyup="">
            </div>
            <div class="form-group" id="foli6">
                <label for="Field6" class="control-label sr-only">Email</label>
                <input type="text" value="" placeholder="Email" name="Field6" class="required form-control" id="Field6" maxlength="255" onkeyup="">
            </div>
            <div class="form-group" id="foli3">
                <label for="Field3" class="control-label sr-only">Institution</label>
                <input type="text" value="" placeholder="Institution" name="Field3" class="required form-control" id="Field3" maxlength="255" onkeyup="">
            </div>
            <div class="form-group" id="foli2">
                <label for="Field2" class="control-label sr-only">Title</label>
                <input type="text" value="" placeholder="Title" name="Field2" class="required form-control" id="Field2" maxlength="255" onkeyup="">
            </div>
            <div class="clear form-group">
                <div class="clear text-center">
                    <input type="submit" value="request a demo" name="saveForm" id="saveForm" class="gradient-button">
                </div>
            </div>
            <ul>
                <li class="hide">
                    <label for="comment">Do Not Fill This Out</label>
                    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                    <input type="hidden" id="idstamp" name="idstamp" value="QC6NZMMTYQ+7G+hmP5XZbyDxWsh34T4WqS+7cZuSHx4=">
                </li>
            </ul>
        </form>
    </div>
</section>

<section class="pattern-section">
    <div class="paragraph-content-spacer">
        <p class="content">If you are a student, use our mobilizing for Callisto toolkit to learn how you can bring Callisto to your school. You can also suggest a school using the form below.</p>
        <br />
        <a class="gradient-button long-button" href="/student_activism_toolkit.pdf">DOWNLOAD OUR CAMPUS TOOLKIT</a>
    </div>
</section>

<section id="suggest">
    <div class="paragraph-content-spacer spacer-with-underline">
        <h3 class="text-center">Bring Callisto To Your School</h3>
        <p>Use our <a href="/student_activism_toolkit.pdf">Mobilizing for Callisto toolkit</a> to learn how you can bring Callisto to your school. You can also suggest a school using the form below.</p>
        <p>I am a...</p>
        <form id="form1" name="form1" class="form-horizontal center-block" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://sexualhealthinnovations.wufoo.com/forms/z1qz4wjy1bizl60/#public" target="_blank" role="form">
            <div class="form-group checkbox-row" id="foli3">
                <div class="checkboxes">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="Student" name="Field3" id="Field3" tabindex="2"><span>Student</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="Alum" name="Field4" id="Field4" tabindex="3"><span>Alum</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="Parent" name="Field6" id="Field6" tabindex="5"><span>Parent</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="Staff/Faculty" name="Field5" id="Field5" tabindex="4"><span>Staff/Faculty/Admin</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="Other" name="Field7" id="Field7" tabindex="6"><span>Other</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" id="foli1">
                <label for="Field1" class="control-label sr-only">School Name * </label>
                <input type="text" value="" placeholder="School Name" name="Field1" class="required form-control" id="Field1" maxlength="255" onkeyup="">
            </div>
            <div id="foli105" class="form-group">
                <label for="Field105" class="control-label sr-only">My Name </label>
                <input type="text" value="" placeholder="My Name" name="Field105" class="text form-control" id="Field105">
            </div>
            <div id="foli106" class="form-group">
                <label for="Field106" class="control-label sr-only">My Email </label>
                <input type="text" value="" placeholder="My Email" name="Field106" class="text form-control" id="Field106">
            </div>
            <div id="foli108" class="form-group">
                <label for="Field108" class="control-label sr-only">My Title (if applicable) </label>
                <input type="text" value="" placeholder="My Title" name="Field108" class="text form-control" id="Field108">
            </div>
            <div id="foli110" class="form-group">
                <label class="control-label sr-only" id="title110" for="Field110">
                    How can Callisto help your campus?
                </label>
                <textarea id="Field110" name="Field110" class="textarea form-control" spellcheck="false" rows="7" cols="50" placeholder="How can Callisto help your campus?" tabindex="12" onkeyup=""></textarea>
            </div>
            <div class="clear form-group">
                <div style="text-align: center;" class="clear">
                    <input type="submit" value="Send" name="saveForm" id="saveForm" class="gradient-button">
                </div>
            </div>
            <ul>
                <li class="hide">
                    <label for="comment">Do Not Fill This Out</label>
                    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                    <input type="hidden" id="idstamp" name="idstamp" value="1DAei3BtIG4fs3aZ/EQWsq+2dFO5p4YehC1C/ln+o+k=">
                </li>
            </ul>
        </form>
    </div>
</section>

{% include contact.html %}

<section class="pattern-section" id='mailchimp-pattern-section'>
    {% include mailchimp.html %}
</section>
