---
layout: default
css: /css/what-we-do.css
title: What We Do
---

<header class="main-header what-we-do-header">
    <h2>What We Do</h2>
    <p>We help victims of sexual assault and professional sexual coercion protect their communities.</p>
    <a href="https://www.ted.com/talks/jessica_ladd_the_reporting_system_that_sexual_assault_survivors_want" class="white-button" target="_blank">watch our TED talk</a>
</header>

<section>
    <div class="paragraph-content-spacer">
        <h3>Our Products</h3>
        <p>In 2015, Callisto launched on two college campuses. It has since grown to 13 campuses and supports 149,000 students. Our Callisto Campus product allows student survivors of sexual assault to securely create time-stamped records of their assault, and to only report to their college when they're ready to take action.</p>

	<p>In 2018 Callisto expanded our model into professional industry to address sexual assault and sexual coercion in workplace environments. Callisto Expansion connects individuals with a Legal Options Counselor, who will advise victims of their rights and will help them navigate options for taking action.</p>
	<div class="row">
	  <div class="col-md-6">
            <a href="#expansion" class="gradient-button center-btn">more on callisto expansion</a>
	  </div>
	  <div class="col-md-6">
	    <a href="#campus" class="gradient-button center-btn">about callisto campus</a>
	  </div>
    </div>
</section>

{% include anon-male.html %}

<section class="expansion">
  <a name="expansion"></a>
    <div class="paragraph-content-spacer">
        <h3>Callisto Expansion</h3>
        <p>Callisto recognizes that predators who repeatedly commit sexual assault and/or coercion are not limited to any institution or industry. Coverage of widespread sexual misconduct through the #MeToo movement has highlighted the pervasiveness of this issue.</p>

	<p>In 2018, we expanded our reporting platform to detect repeat perpetrators across different sectors. Callisto for professional industries adapts our unique matching model, providing unique support options to victims:</p>
	<div class="value-prop-item">
          <img src="../images/Assets/match-icon-new.svg" alt="Write">
          <div>
            <h5>MATCH</h5>
            <p>Victims input the identity of their perpetrators under the precondition that, if a match is found, a Callisto Legal Options Counselor reaches out to each victim individually.</p>
          </div>
        </div>
        <div class="value-prop-item">
          <img src="../images/Assets/legal-icon.svg" alt="Match">
          <div>
            <h5>LEGAL OPTIONS COUNSELING</h5>
            <p>A Callisto Legal Options Counselor will guide victims through the reporting process, their choices, and offer to connect them with others who have named the same assailant.</p>

          </div>
        </div>
	<div class="row">
	  <div class="col-md-6">
      <a target="_blank" href="https://cryptography.projectcallisto.org" class="gradient-button center-btn">demo our cryptography model</a>
	  </div>
	  <div class="col-md-6">
	    <a target="_blank" href="/callisto-cryptographic-approach.pdf" class="gradient-button center-btn">read our white paper</a>
	  </div>
	</div>
    </div>
</section>


<section class="quote-section">
    <div class="paragraph-content-spacer">
        <blockquote>"I was raped during the first week of my freshman year, and I can't even count the number of people I know who have been sexually assaulted during their college career. I wish there would've been more education about sexual assault in general as well as reporting options and support services."</blockquote>
        <cite>― Anonymous, Survivor of Sexual Assault</cite>
    </div>
</section>

<section class="callisto-campus">
    <a name="campus"></a>
    <div class="paragraph-content-spacer">
        <h3>Callisto Campus</h3>
        <div class="paragraph-extra-spacer">
            <p>An estimated 20% of women, 7% of men, and 24% of trans and gender nonconforming students are sexually assaulted during their college career. An estimated 90% of sexual assaults are committed by repeat perpetrators. Over 85% of college survivors know their assailant, and less than 10% report to their school or the police.</p>
            <p>On college campuses, our trauma-informed platform has increased the chances that a survivor will report, the speed of reporting, and the detection of serial sexual assailants. Survivors who visit their school’s Callisto Campus website are six times more likely to report their assault than survivors who do not. The time it takes for survivors to report using Callisto Campus (four months) is almost three times faster than the national average of 11 months. And 15% of survivors entering our matching system (see below) match with another victim of the same assailant, causing them to report simultaneously.</p>
            <h4>STUDENT SURVIVORS ARE OFFERED THREE OPTIONS:</h4>
            <div class="value-prop-item">
                <img src="../images/Assets/record-icon.svg" alt="Write">
                <div>
                    <h5>WRITE</h5>
                    <p>Survivors can create secure, encrypted, and time-stamped records about their sexual assault. Without Callisto, student survivors who report begin the process 11 months after experiencing sexual assault. Callisto allows survivors to immediately preserve evidence on their own terms, at a time, place, and pace that is best for them. No one can see the details of a record without explicit consent of the survivor - they are encrypted in a way that not even the Callisto team can view.</p>
                </div>
            </div>
            <div class="value-prop-item">
                <img src="../images/Assets/match-icon.svg" alt="Match">
                <div>
                    <h5>MATCH</h5>
                    <p>Survivors input the identity of their perpetrators under the precondition that, if a match is found, their Title IX coordinator will reach out to each survivor individually.</p>
                </div>
            </div>
            <div class="value-prop-item">
                <img src="../images/Assets/report-icon.svg" alt="Report">
                <div>
                    <h5>REPORT</h5>
                    <p>Survivors can electronically send the record they have created directly to their institution to trigger an investigation or a consultation.</p>
                </div>
            </div>
            <p>Reports submitted through Callisto lead to more rapid and thorough investigations and reduce the chances for human error. According to surveys, survivors most often report in order to protect their community. By empowering survivors with pathways to desired outcomes, Callisto helps stop perpetrators sooner and creates a deterrent for other would-be perpetrators.</p>
            <p>Universities that partner with Callisto receive a school-specific Callisto website (including custom content on reporting options and resources), along with training and materials to roll it out to their students. Callisto also provides aggregate data reports to inform the policies and practices of our partners. Learn more about <a href="/Callisto_Year_3_final.pdf" target="_blank">our impact</a>.</p>
        </div>
	<hr />
	<div class="row center-block container-fluid extra-spacer">
	  <p class="text-center bold-oswald">If you are a student who wants to see Callisto at your school, download our Mobilizing for Callisto toolkit. It includes helpful tools for on-campus advocacy efforts.</p>
	</div>
	<div class="row center-block">
	  <div class="col-md-6">
	    <a class="gradient-button download-icon" href="https://www.projectcallisto.org/student_activism_toolkit.pdf" target="_blank">campus toolkit</a>
	  </div>
	  <div class="col-md-6">
            <a class="gradient-button" href="/Callisto_Year_3_final.pdf" target="_blank">read our impact report</a>
	  </div>
	</div>
    </div>
</section>

<section id="first-quote" class="quote-section">
    <div class="paragraph-content-spacer">
      <blockquote>“Say we have 100 survivors on campus. There’s probably 80 different preferences for how they report their assault. Prior to Callisto, we had one option for all of them — and that was to come and talk to an administrator.”</blockquote>
        <cite>― Title IX Coordinator</cite>
    </div>
</section>

<section id="newsletter">
    {% include mailchimp.html %}
</section>
