<section class='expanded-section'>
    <div class="paragraph-content-spacer">
        <h3>Contact Us</h3>
        <p>General inquiries - <a href="mailto:contact@projectcallisto.org" target="_blank">contact@projectcallisto.org</a></p>
        <p>Higher education inquiries - <a href="mailto:campus@projectcallisto.org" target="_blank">campus@projectcallisto.org</a></p>
        <p>Professional instituions and industries - <a href="mailto:partner@projectcallisto.org" target="_blank">partner@projectcallisto.org</a></p>
        <p>For press inquiries - <a href="mailto:press@projectcallisto.org" target="_blank">press@projectcallisto.org</a></p>
    </div>
</section>
