<footer class="row footer">
    <nav class="navbar container" id="id_footer">
        <div class="top_nav">
            <a href="/" title="Home"><img src="/images/Assets/glyph_logo_muted.png" class="callisto-logo" alt="Callisto Logo" /></a>
            <ul class="footer_links">
                <li><a href="/what-we-do">what we do</a></li>
                <li><a href="/who-we-are">who we are</a></li>
		<li><a href="/work-with-us">careers</a></li>
                <li><a href="/contact-us">contact us</a></li>
                <li><a href="/donate">donate</a></li>
            </ul>
        </div>
        <div class="bottom_nav">
            <div class="float_left">
                <p>
                    For immediate help, contact the National Sexual Assault Hotline<br/>
                    <a href="tel:+1-8006564673">1-800-656-4673</a> | Free. Confidential. 24/7<br/>
                </p>
            </div>
            <div class="float_right">
                <div class="footer-icons">
		    <a href="https://medium.com/@projectcallisto" target="_blank"><img src="../../images/Assets/medium-icon.svg" /></a>
                    <a href="https://www.facebook.com/callistoorg/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/callisto" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/callisto/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://github.com/project-callisto" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <p>Copyright © {{ 'now' | date: "%Y" }} Callisto</p>
            </div>
        </div>
    </nav>
</footer>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-53121135-1', 'auto');
ga('send', 'pageview');
</script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/wufoo.js"></script>
<script src="js/toast.js"></script>
<script src="js/contactModal.js"></script>
<script src="js/animate.js"></script>
<script src="js/navProcessing.js"></script>
<script src="js/mailchimp_helper.js"></script>
<script src="js/callisto_history_info.js"></script>
