<footer class="row footer">
    <nav class="navbar container" id="id_footer">
        <div class="top_nav">
            <img src="images/callisto_logo.png" class="callisto-logo" alt="Callisto Logo" />
            <ul class="footer_links">
                <li><a href="../what-we-do/index.html">What We Do</a></li>
                <li><a href="../who-we-are/index.html">Who We Are</a></li>
                <li><a href="../what-get-involved/index.html">Get Involved</a></li>
                <li><a href="https://www.classy.org/campaign/help-stop-repeat-perpetrators-wherever-they-are/c150968">Donate</a></li>
                <li><a href="../contact-us/index.html">Contact Us</a></li>
                <li><a href="https://blog.projectcallisto.org/">Our Blog</a></li>
                <li><a href="mailto:press@projectcallisto.org">Press</a></li>
            </ul>
        </div>
        <div class="bottom_nav">
            <div class="float_left">
                <p>For immediate help, contact the National Sexual Assault Hotline<br/><a href="tel:+18002266463">1-800-226-6463</a> | Free. Confidential. 24/7</p>
            </div>
            <div class="float_right">
                <div class="footer-icons">
                    <a href="https://www.facebook.com/callistoorg/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/callisto"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/callisto/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://github.com/project-callisto"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                </div>
                <p>Copyright © 2017 Callisto</p>
            </div>
        </div>
    </nav>
</footer>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-53121135-1', 'auto');
ga('send', 'pageview');
</script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
