<nav class="navbar" id="id_header">
    <div class="navbar-left col-xs-offset-1-half-nested">
        <a href="#" id="brand_link">
            <img src="images/callisto_logo.png" class="img-responsive" alt="" aria-hidden="true" />
            <div id="callisto">Callisto</div>
        </a>
        <button type="button" class="col-xs-after-1-half-offset navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <ul class="nav navbar-nav navbar-right col-sm-after-1-half-offset collapse navbar-collapse" id="navbar-collapse">
        <li><a href="what-we-do/index.html">WHAT WE DO</a></li>
        <li><a href="who-we-are/index.html">WHO WE ARE</a></li>
        <li><a href="get-involved/index.html">GET INVOLVED</a></li>
        <li><a href="work-with-us/index.html">WORK WITH US</a></li>
        <li class="donate-li">
            <a class="nav-button" href="donate/index.html">DONATE</a>
        </li>
    </ul>
</nav>
