<div id="navWrapper">
  <div id="topNav">
    <div class="mobileLinks">
      <img src="../images/callisto_logo.png">
    </div>
    <div id="bars" class="mobileLinks">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div id="topNavWrapper">
      <a href="/work-with-us"><div class="topNavItem">CAREERS</div></a>
      <a href="https://app.projectcallisto.org" target="_blank"><div class="topNavItem">LOG IN</div></a>
    </div>
  </div>
  <div id="bottomNav">
    <a href="/"><div id="botNavBrand">
      <div>
        <img src="../images/callisto_logo.png">
      </div>
      <div id="brandLogo">CALLISTO</div>
    </div></a>
    <div id="botNavItems">
      <a href="/what-we-do"><div class="botNavItem">WHAT WE DO</div></a>
      <a href="/who-we-are"><div class="botNavItem">WHO WE ARE</div></a>
      <a href="/contact-us"><div class="botNavItem">CONTACT US</div></a>
      <a href="/donate"><div class="botNavItem">DONATE</div></a>
      <div class="mobileLinks">
        <a href="/work-with-us"><div class="botNavItem">CAREERS</div></a>
        <a href="https://app.projectcallisto.org" target="_blank"><div class="botNavItem">LOG IN</div></a>
      </div>
    </div>
  </div>
</div>
<!-- <nav class="header-nav">
    <a href="/" class="brand-link">
        <img src="/images/Assets/glyph_logo_muted.png" class="img-responsive" alt="" aria-hidden="true" />
        <div class="text">Callisto</div>
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="nav navbar-nav collapse navbar-collapse" id="navbar-collapse">
        <li><a href="/what-we-do">what we do</a></li>
        <li><a href="/who-we-are">who we are</a></li>
        <li><a href="/work-with-us">careers</a></li>
        <li><a href="/contact-us">contact us</a></li>
        <li><a href="/donate">donate</a></li>
    </ul>
</nav> -->
