<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | Callisto: Tech to combat sexual assault</title>
    <meta name="description" content="Callisto is a third-party college sexual assault recording and reporting system designed to support and empower survivors, improve the reporting experience, and identify repeat campus perpetrators.">
    <meta name="author" content="Callisto">
    <link rel="icon" href="images/callisto_logo.png">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,900|Sorts+Mill+Goudy:100,300,400,400i|Oswald|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <link href="{{ page.css }}?{{site.time | date: '%s%N'}}" rel="stylesheet" type="text/css">

    <!-- <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script> -->

    <script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script>
    <script type="text/javascript">
      // redirect if URL ends in a '/'
      const path = window.location.pathname;
      const lastChar = path[path.length -1];
      if (lastChar === '/' && path !== '/') {
        const newPath = path.slice(0, -1);
        window.location.replace(newPath);
      }
    </script>
</head>
