<section id="stats">
    <h3>Our Impact</h3>
    <div class="stats-sections">
        <ul class="flex-on-large">
            <li>
                <div class="stat-icon">
                    <div class="stat-colored-border five-x"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">5X</div>
                </div>
                <h4>MORE LIKELY TO REPORT</h4>
                <p>Sexual assault survivors who visited their school’s Callisto Campus website were 5 times more likely to report their assault than survivors who did not.</p>
            </li>
            <li>
                <div class="stat-icon">
                    <div class="stat-colored-border fifteen-percent"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">15%</div>
                </div>
                <h4>REPEAT PERPETRATORS</h4>
                <p>15% of sexual assault survivors who opted into our matching system have been assaulted by the same perpetrator as another survivor in the system. </p>
            </li>
            <li>
                <div class="stat-icon">
                    <div class="stat-colored-border three-x"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">3X</div>
                </div>
                <h4>FASTER REPORTING</h4>
                <p>On average, survivors using Callisto Campus report almost three times faster than the national average (4 months versus 11 months).</p>
            </li>
        </ul>
    </div>
    <div class="paragraph-content-spacer">
        <a class="gradient-button" href="/Callisto_Year_2_highres.pdf" target="_blank">read about our impact</a>
    </div>
</section>
