<section id="stats">
    <h3>Our Impact</h3>
    <div class="stats-sections">
        <ul class="flex-on-large">
            <li class="col-lg-4">
                <div class="stat-icon">
                    <div class="stat-colored-border five-x"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">6X</div>
                </div>
                <h4>MORE LIKELY TO REPORT</h4>
                <p>Sexual assault survivors who visited their school’s Callisto Campus website were six times more likely to report their assault to their school or the police than survivors who did not.</p>
            </li>
            <li class="col-lg-4">
                <div class="stat-icon">
                    <div class="stat-colored-border fifteen-percent"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">15%</div>
                </div>
                <h4>REPEAT PERPETRATORS</h4>
                <p>Since 2015, 10% of records in the matching escrow system have matched. This means that Callisto has identified serial perpetrators in 10% of matching records since our launch. In school year 2017-2018, 15% of records entered into the matching escrow were matched. </p>
            </li>
            <li class="col-lg-4">
                <div class="stat-icon">
                    <div class="stat-colored-border three-x"></div>
                    <div class="stat-white-inner-circle"></div>
                    <div class="text">3X</div>
                </div>
                <h4>SEEKING SUPPORT SERVICES</h4>
                <p>On average, students using Callisto are three times more likely to seek out medical and emotional support services.</p>
            </li>
        </ul>
    </div>
    <div class="paragraph-content-spacer">
        <a class="gradient-button" href="/Callisto_Year_3_final.pdf" target="_blank">read about our impact</a>
    </div>
</section>
