/* Get Involved page styling */

.main-header {
    padding: 130px 10% 130px;
}

#involved-banner {
    background-image: url("../images/Get_Involved_2.jpg");
    background-position: bottom;
}

.community-icon {
    color: black;
    font-size: 60px;
    padding: 0px 8px;
}

.get-involved-header {
    background-image: url("../../images/Assets/masthead_2.png");
}

.become-partner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 20px 20px 20px;
}    

.more-contact {
    .gradient-button {
	margin-top: 25px;
	height: 55px;
    }

    h4 {
	margin-top: 0;
	line-height: 35px;
	font-weight: 500;
	font-size: 26px;
	font-family: $font-oswald;
	color: $primary-text-color;
    }
}

.contact-form {
    background-color: #FFF;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content {
	font-weight: 300;
	line-height: 26px;
	font-size: 16px;
	font-family: Montserrat;
	color: #1C2E36;
    }

    .field {
        width: 100%;
    }


    .gradient-button {
	flex-direction: row;
    }
}

#mailchimp-pattern-section {
    padding: 10px 15px 20px;
}

#suggest-section {
    padding-bottom: 0;
}

li {
    padding-bottom: 10px;
    padding-top: 10px;
}

select {
    background-color: $color-option-background;
    border: 0;
    height: 30px;
}


// tablet and desktop
@media (min-width: $min-width-md) {
    .contact-pad-right {
	padding-right: 15px;
    }
    .contact-pad-left {
	padding-left: 15px;
    }

    .more-contact {
	p {
	    margin-left: 25%;
	    margin-right: 25%;
	}
    }
}
