/* Contact us page styling */

#involved-banner {
  background-image: url("../images/Get_Involved_2.jpg");
  background-position: bottom;
}

.community-icon {
  color: black;
  font-size: 60px;
  padding: 0px 8px;
}

.get-involved-header {
  background-image: url("../../images/Assets/Contactus_masthead.png");
}

.become-partner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 20px 20px 20px;
}

.required-explainer {
  text-align: left;
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 1rem;
  font-family: $font-montserrat;
  font-weight: 700;
}

.contact-form {
  background-color: #FFF;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-montserrat;
  letter-spacing: 2px;
  max-width: 630px;
  margin: 0 auto;
  padding: 0;

  form {
    width: 100%;
  }

  li {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .field {
    width: 100%;
    padding: 5px;
    background-color: #F6F6F6;
    border: none;
  }

  select.field {
    background-color: white;
    border: 0;
    height: 30px;
    border: 1px solid #DDDDDD;
  }

  .gradient-button {
    flex-direction: row;
  }
}

.more-contact {
  margin-bottom: 40px;

  .row {
    max-width: 630px;
    margin: 0 auto;

    @media (min-width: $max-width-lg) {
      display: flex;
    }
  }

  .row > div {
    padding: 0 20px;
  }

  .gradient-button {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }

  h4 {
    margin-top: 0;
    line-height: 35px;
    font-weight: 500;
    font-size: 26px;
    font-family: $font-oswald;
    color: $primary-text-color;
    text-align: left;
  }
}

.more-contact-left {
  background-image: url("../../images/toolkit_background.png");

  @media (min-width: $max-width-lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    margin-top: 20px;
    font-size: 20px;
    font-family: $font-montserrat;
    font-weight: 600;
  }
}

.more-contact-right {
  > p:last-of-type {
    margin: 0;
  }
}

#mailchimp-pattern-section {
  padding: 10px 15px 20px;
}

#suggest-section {
  padding-bottom: 0;
}

.paragraph-content-spacer {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.thank-you-toast {
  background-color: $color-blue-deeper;
  color: $color-white;
  height: 50px;
  max-width: 630px;
  margin: auto;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: $font-main;
  }

  img {
    padding-right: 10px;
    width: 22px;
    height: 22px;
  }
}

@media (max-width: $max-width-md) {
  .main-header {
    background-position: 55%;
  }
}
