.footer-content a[href^="tel:"] {
    color: inherit;
}

.footer .row {
    width: 100%;
}

nav ul > li.footer-glyphicon > a {
    font-size: 24px;
}

.footer-heading {
    left: 17px;
}

.footer .navbar-nav > li {
    float: none;
}

.footer nav ul > li > a {
    text-align: left;
}

.footer .footer-glyphicon {
    float: left !important;
    margin-top: 5px;
}

.footer-content {
    border-top: solid 2px #979797;
    padding: 15px 0px;
    display: flex;
}

.footer-content .nav {
    margin-left: 8px;
}

.footer-content .navbar-nav > li > a {
    padding: 0px 17px;
}

.footer {
    padding: 20px 70px;
}

#id_footer {
    color: black;
    display: block;
    margin-bottom: 20px;

    .top_nav {
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }

    .callisto-logo {
        margin-left: 15px;
        height: 45px;
        width: 45px;
        position: absolute;
        left: 0;
    }

    .footer_links {
        font-family: $font-main;
	margin: auto;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;

        a {
	    color: $primary-text-color;
	    font-weight: 500;
	    line-height: 26px;
	    font-size: 14px;
	    font-family: $font-main;
	    text-decoration: none;
        }

        li {
            display: inline-block;
            padding-right: 6%;
            text-align: center;
        }
    }

    .footer-icon {
        width: 25px;
        display: inline;
        float: right;
        margin: 5px;
    }
}

.bottom_nav {
    padding-top: 20px;
    border-top: 1px solid #A4B3B7;

    p {
	font-family: $font-sans;
	font-size: 14px;
	line-height: 36px;
    }
}

.footer-icons {
    font-size: 1.5em;
    text-align: right;
    color: #00758F;
}

@media (min-width: $min-width-lg) {
    .float_left {
        float: left;
    }

    .float_right {
        float: right;
    }
}

@media (max-width: $max-width-md) {
    .footer {
        padding: 0;
    }

    #id_footer {
        padding: 20px;

        .top_nav {
            display: block;
        }

        .callisto-logo {
            display: none;
        }

        .footer_links {
            padding: 0;
            float: none;

            li {
                text-align: left;
                display: block;
            }
        }
    }

    .footer-icons {
        text-align: left;
    }
}
