/* Get Involved page styling */

#involved-banner {
    background-image: url("../images/Get_Involved_2.jpg");
    background-position: bottom;
}

.community-icon {
    color: black;
    font-size: 60px;
    padding: 0px 8px;
}

.get-involved-header {
    background-image: url("../../images/Assets/Getinvolved_headerimage.png");
}

.become-partner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    background-color: #F8F9F9;
}

#mailchimp-pattern-section {
    padding: 10px 15px 20px;
}

#suggest {
    padding-bottom: 0;
}
