// New CSS 2018
.active-link {
  background: linear-gradient(116.54deg, #ca9475 0%, #f7dac4 50.3%, #c69274 100%) left bottom transparent no-repeat;
  background-size: 100% 3px;
}

.active-link-bold {
  font-weight: 900;
}
#navWrapper {
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }
}
#topNav {
  width: 100%;
  height: 25px;
  background: #464D55;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 85px;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Raleway';
}
#topNavWrapper {
  display: flex;
}
.topNavItem {
  padding: 0 10px;
  box-sizing: border-box;
}
#bottomNav {
  width: 100%;
  height: 50px;
  padding: 0 75px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';

  img {
    width: 37px;
  }
}
#botNavBrand {
  display: flex;
  align-items: center;
}
#brandLogo {
  padding-left: 10px;
  color: #1C2E36;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Montserrat';
}
#botNavItems {
  display: flex;
}
.botNavItem {
  color: #124F69;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.56px;
  padding: 5px 0px;
  margin: 0 20px;
  box-sizing: border-box;
}
.mobileLinks {
  display: none;
}

// Desktop
@media (min-width: 890px) {
  #bottomNav {
    display: flex !important;
  }
}

// Early Break
@media (max-width: 886px) {
  .botNavItem {
    padding: 10px;
  }
}

// Mobile
@media (max-width: 890px) {
  #topNav {
    padding: 0 30px;
    background: #fff;
    color: #124F69;
    height: 60px;
    justify-content: space-between;

    img {
      width: 37px;
    }
  }
  #topNavWrapper {
    display: none;
  }
  .topNavItem {
    display: none;
  }
  #bottomNav {
    height: auto;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    display: none;
  }
  #botNavItems {
    flex-direction: column;
  }
  .botNavItem {
    padding: 20px;
  }
  #botNavBrand {
    display: none;
  }
  .bar {
    width: 18px;
    height: 3px;
    margin: 3px;
    background: #124F69;
    border-radius: .3em;
  }
  .mobileLinks {
    display: block;
  }
}

// Old CSS
.main-header {
  padding: 15% 10% 3.86%;
  align-items: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-size: cover;
  background-position: center top;
  justify-content: left;
  line-height: 2em;

  h2 {
    margin-top: 0;
  }

  .gradient-button {
    margin: 0;
  }
}

.main-header h2 {
  font-size: 40px;
  font-family: $font-playfair;
  font-weight: 800;
  margin-bottom: 16px;
  color: $color-white;
  text-align: left;
  width: 500px;
}

.main-header p {
  font-family: $font-sans;
  color: $color-white;
  font-size: 20px;
  line-height: 1.4;
  width: 520px;
  font-weight: 300;
  text-align: left;
  white-space: pre-wrap;
}

@media (min-width: $min-width-md) {
  .main-header p {
    max-width: 500px;
  }
}

// mobile
@media (max-width: $max-width-sm) {
  .main-header p {
    width: 95%;
  }

  .main-header h2 {
    width: 95%;
  }

  .main-header {
    background-position: 76%;
  }
}
