@import "_variables.scss";

.navbar-toggle .icon-bar {
  background-color: $color-black;
}

#nav-border {
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;
}

nav.header-nav {
  background-color: $color-white;
  font-family: $font-main;
  text-transform: lowercase;

  li {
    margin: 0 5px;
  }

  a {
    color: #0E687A;
    font-weight: 500;
  }

  .donate-li {
    margin-right: 0;
    margin-left: 18px;
  }
}

.nav > li > a:hover {
  background-color: $color-white;
}

.brand-link {
  margin-left: 1rem;
  margin-top: 10px;
  display: flex;
  margin-left: 2rem;

  img {
    width: 28px;
    height: 28px;
    float: left;
  }

  .text {
    color: $color-callisto-logo;
    float: left;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.1px;
    margin-left: 7px;
    margin-top: 3px;
    outline: none;
    text-transform: uppercase;
  }
}

ul.nav {
  padding: 0;
}

// tablet and desktop
@media (min-width: $min-width-md) {
  ul.nav > li > a {
    vertical-align: middle;
  }

  ul.nav > li {
    padding-top: 0;
    padding-bottom: 0;
  }

  nav.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// mobile
@media (max-width: $max-width-sm) {
  .header-nav {
    height: 0px;
  }

  nav.header-nav li {
    padding-right: 10px;
  }

  nav.header-nav .donate-li {
    padding-bottom: 5px;

    a {
      padding: 60px;
    }
  }

  .brand-link {
    position: absolute;
  }

  ul.nav li {
    background-color: $color-white;
    padding-left: 5px;
  }
}

// micro
@media (max-width: $max-width-xxs) {
  .brand-link-text {
    display: none;
  }
}
