@import "_variables.scss";

.navbar-toggle .icon-bar {
  background-color: $color-black;
}

.active-link {
  background: linear-gradient(116.54deg, #ca9475 0%, #f7dac4 50.3%, #c69274 100%) left bottom transparent no-repeat;
  background-size: 100% 3px;
}

#nav-border {
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;
}

nav.header-nav {
  background-color: $color-white;
  font-family: $font-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  li {
    margin: 0 5px;
  }

  a {
    color: #0E687A;
    font-weight: 500;
  }

  .donate-li {
    margin-right: 0;
    margin-left: 18px;
  }

  .donate-li a {
    background: $color-blue-button;
    border: 0;
    font-family: $font-main;
    color: $color-white;
    letter-spacing: 1px;
    text-align: center;
  }

  .donate-li a:hover,
  .donate-li a:focus {
    background: $color-blue-button-hover;
    text-decoration: none;
  }
}

.nav > li > a:hover {
  background-color: $color-white;
}

.brand-link {
  display: flex;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
  }

  .text {
    color: $color-callisto-logo;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 5px;
    outline: none;
    text-transform: uppercase;
  }
}

ul.nav {
  padding: 0;
}

// tablet / desktop
@media (min-width: $max-width-sm) {
  nav.header-nav {
    & > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .donate-li a {
      $_padding: 75px;

      padding-left: $_padding;
      padding-right: $_padding;
    }
  }
}

// tablet
@media (min-width: $max-width-sm) and (max-width: $max-width-md) {
  nav.header-nav .donate-li a {
    $_padding: 20px;

    padding-left: $_padding;
    padding-right: $_padding;
  }

  ul.nav > li > a {
    $_padding: 5px;

    padding-left: $_padding;
    padding-right: $_padding;
  }
}

// mobile
@media (max-width: $max-width-sm) {
  nav.header-nav {
    flex-wrap: wrap;
  }

  ul.nav {
    width: 100%;

    & > li.donate-li > a {
      margin-top: 45px;
      margin-bottom: 40px;
    }
  }
}

// micro
@media (max-width: $max-width-xxs) {
  .brand-link .text {
    display: none;
  }
}
