/* Homepage */

.front-page h3 {
    text-transform: none;
    font-size: 32px;
}

#school-logo {
    width: 70px;
    float: left;
}

#faces {
    background: url("../images/jess_ted.png");
    background-position: center;
    background-size: cover;
}

#faces:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, #103536, #833500);
    opacity: .6;
}

.hiw_icon {
    height: 57px;
}

.hiw-column {
    margin-bottom: 20px;
}

#hiw-row {
    display: flex;
    justify-content: space-between;
}

#supporters h3, #partners h3 {
    color: #222;
    font-weight: 500;
}

#how_it_works_grid h3 {
    margin-top: 26px;
}

#how_it_works_grid {
    margin-top: 50px;
}

.explanation {
    min-height: 80px;
    display: block;
    margin-bottom: 20px;
}

.because {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #3997a9;
}

.because-caret {
    height: 22px;
    margin-bottom: 25px;
    background-image: url("../images/because_carat.png");
}

#press {
    border-bottom: 1px solid #d2d4d4;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F1F7F7 100%);
}

#press > div {
    display: flex;
    justify-content: space-between;
}

#press a {
    margin: 55px 10px 0px 10px;
}

#press a:hover, #press a:focus {
    border-bottom: 2px solid #3e99aa !important;
}

#press .btn {
    margin-top: 40px;
}

#press a.btn:hover, #press a.btn:focus {
    border-bottom: none !important;
}

.partner-row {
    margin-bottom: 35px;
}

.partner_icon {
    height: 80px;
}

.partner-column {
    margin-bottom: 20px;
    padding: 0px 15px;
}

.partner-btn {
    margin-top: 30px;
    text-align: center;
}

section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: 100%;
    text-align: center;
}

.press-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 15px;

    li {
        list-style: none;
        margin: 15px;
    }
}

@mixin stat-icon-sizing {
    height: 150px;
    width: 150px;
    margin: 0 auto 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-icon {
    @include stat-icon-sizing;

    font-size: 40px;
    font-weight: 600;
    color: $primary-title-color;
    position: relative;
    background: linear-gradient(215deg, $color-stats-start 20%, $color-stats-end 80%);

    &::before, &::after {
        @include stat-icon-sizing;

        position: absolute;
    }

    &::before {
        background-color: #FFFFFF;
        width: 90%;
        height: 90%;
    }

    &::after {
        content: "";
        border: 2px rgba($color-stats-border, 0.7) solid;
    }
}

.stat-icon.five-x::before {
    content: "5X";
}

.stat-icon.fifteen-percent::before {
    content: "15%";
}

.stat-icon.three-x::before {
    content: "3X";
}

.home-header {
    background-image: url("../../images/Assets/Homepage_headerimage.png");
}

.press {
    padding: 0;
}

#press {
    width: 100%;
}

.ted-talk-btn {
    width: 100%;
    margin-top: 35px;
}

#how-it-works {
    background-color: #f8f9f9;
}

#how-it-works-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

  .hiw-section {
      font-size: .9em;
      font-weight: 400;
      line-height: 1.2;
      max-width: 250px;
      margin: 20px 60px 0;

      div {
          display: block;
      }

      p {
          font-weight: 600;
      }
  }
}

.section-title {
    margin-bottom: 15px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 10px;
    margin-right: -10px;
}

#match-icon {
    height: 110px;
    margin-top: -10px;
}

#record-icon,
#report-icon {
    margin-right: -10px;
}

.section-title {
    margin-bottom: 15px;
}

#record-icon {
    background-image: url("../../images/Assets/record-icon.svg");
}

#match-icon {
    background-image: url("../../images/Assets/match-icon.svg");
}

#report-icon {
    background-image: url("../../images/Assets/report-icon.svg");
}

#ted-talk {
    background-image: url("../../images/Assets/Homepage_patternbackground.png");
    background-repeat: none;
    background-size: cover;

    p {
        font-size: 20px;
    }
}

#stats {
    background-color: $color-background-grey;
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    h3 {
        margin: 0 auto;
    }

    li {
        float: left;
        list-style-type: none;
        padding: 15px;
        width: 33%;
    }

    p {
        padding: 0 15px;
    }
}

.stats-sections {
    margin-top: 20px;

    ul {
        padding-left: 0;
    }
}

#our-supporters {
    background-color: #F8F9F9;
}

#our-partners {
    img {
        margin: 20px auto 0;
        width: 100%;
    }

    button {
        margin: 0 auto;
    }

    .suggest-btn {
        margin-top: 20px;
    }
}

#mc-embedded-subscribe {
    width: 300px;
}

.input-sec {
    margin: 0 auto;
}

#mc_embed_signup {
    height: 48px;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;

    .form-control {
        border: 1.5px solid #385C6C;
        max-width: 405px;
        border-radius: 4px;
        margin: 0 auto;
        padding: 20px;
    }

    #mc-embedded-subscribe {
        width: 100%;
        max-width: 320px;
    }
}


@media (max-width: $max-width-xs) {
    .ted-talk-btn {
        margin-top: -40px;
    }

    #press {
        display: none;
    }

    #ted-talk p {
        padding: 0;
    }

    .img-responsive {
        display: block;
        height: auto;
    }

    .banner-contents {
        margin-bottom: 200px;
        width: 250px;
        text-align: center;
    }

    #stats li {
        display: block;
        float: none;
        width: 100%;
    }
}
