section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: 100%;
    text-align: center;
}

.press-links {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

    li {
        list-style: none;
        margin: 15px;
    }
}

.home-header {
    background-image: url("../../images/Assets/Homepage_headerimage.png");
    background-size: cover;
    background-position: center top;
    height: 520px;
    padding: 211px 0 0 115px;
    justify-content: flex-start;
}

.home-header h2 {
    font-size: 40px;
}

.home-header p {
    font-size: 20px;
}

.press {
    padding: 0;
}

#press {
    width: 100%;
}

.ted-talk-btn {
    width: 100%;
    margin-top: 35px;
}

#how-it-works {
    background-color: #f8f9f9;

    .how-intro {
        padding: 0;
    }
}

#how-it-works-sections {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}

.hiw-section {
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2;
    max-width: 250px;
    margin: 20px 60px 0;

    div {
        display: block;
    }

    p {
        font-weight: 600;
    }
}

.section-title {
    margin-bottom: 15px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 10px;
    margin-right: -10px;
}

#match-icon {
    height: 110px;
    margin-top: -10px;
}

#record-icon,
#report-icon {
    margin-right: -10px;
}

.section-title {
    margin-bottom: 15px;
}

#record-icon {
    background-image: url("../../images/Assets/record-icon.svg");
}

#match-icon {
    background-image: url("../../images/Assets/match-icon.svg");
}

#report-icon {
    background-image: url("../../images/Assets/report-icon.svg");
}

#ted-talk {
    background-image: url("../../images/Assets/Homepage_patternbackground.png");
    background-repeat: none;
    background-size: cover;

    p {
        font-size: 20px;
    }
}

#stats {
    background-color: $color-background-grey;
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    h3 {
        margin: 0 auto;
    }

    li {
        float: left;
        list-style-type: none;
        padding: 15px;
        width: 33%;
    }

    p {
        padding: 0 15px;
    }
}

.stats-sections {
    margin-top: 20px;

    ul {
        padding-left: 0;
    }
}

#our-supporters {
    background-color: #F8F9F9;
}

#our-partners {
    img {
        margin: 20px auto 0;
        width: 100%;
    }

    button {
        margin: 0 auto;
    }

    .suggest-btn {
        margin-top: 20px;
    }
}

#stay-updated {
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    background-size: 300px;
    height: 400px;
}

#mc-embedded-subscribe {
    width: 300px;
}

.input-sec {
    margin: 0 auto;
}

@media (max-width: $max-width-sm) {
    .home-header {
        padding: 173px 10px 0;
    }

    .home-header h2 {
        font-size: 30px;
    }

    .hiw-section {
        margin: 20px 10px;
    }
}

@media (max-width: $max-width-xs) {
    .ted-talk-btn {
        margin-top: -40px;
    }

    #press {
        display: none;
    }

    .home-header {
        padding: 173px 10px 0;
    }

    .home-header h2 {
        font-size: 25px;
    }

    .home-header p {
        font-size: 18px;
    }

    #ted-talk p {
        padding: 0;
    }

    #how-it-works .extra {
        padding: 40px 20px;
    }

    .img-responsive {
        display: block;
        height: auto;
    }

    .banner-contents {
        margin-bottom: 200px;
        width: 250px;
        text-align: center;
    }

    #stats li {
        display: block;
        float: none;
        width: 100%;
    }

    .input-sec {
        margin: 0;
        width: 100%;

        #mc_embed_signup {
            width: 100%;

            .form-control {
                border: 1.5px solid #385C6C;
                max-width: 405px;
                border-radius: 4px;
                margin: 0 auto;
            }

            #mc-embedded-subscribe {
                width: 100%;
                max-width: 320px;
            }
        }
    }

    #how-it-works .how-intro {
        padding: 40px 20px 0;
    }

    #stay-updated {
        background-size: 325px;
    }
}
