/* Homepage */

#school-logo {
    width: 70px;
    float: left;
}

#faces {
    background: url("../images/jess_ted.png");
    background-position: center;
    background-size: cover;
}

#faces:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, #103536, #833500);
    opacity: .6;
}

.hiw_icon {
    height: 57px;
}

.hiw-column {
    margin-bottom: 20px;
}

#hiw-row {
    display: flex;
    justify-content: space-between;
}

#how_it_works_grid {
    margin-top: 50px;
}

.explanation {
    min-height: 80px;
    display: block;
    margin-bottom: 20px;
}

.because {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #3997a9;
}

.because-caret {
    height: 22px;
    margin-bottom: 25px;
    background-image: url("../images/because_carat.png");
}

#press {
    border-bottom: 1px solid #d2d4d4;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F1F7F7 100%);
}

.paragraph-content-spacer {
    max-width: 660px;
}

#press > div {
    display: flex;
    justify-content: space-between;
}

#press a {
    margin: 55px 10px 0px 10px;
}

#press a:hover, #press a:focus {
    border-bottom: 2px solid #3e99aa !important;
}

#press .btn {
    margin-top: 40px;
}

#press a.btn:hover, #press a.btn:focus {
    border-bottom: none !important;
}

.partner-row {
    margin-bottom: 35px;
}

.partner_icon {
    height: 80px;
}

.partner-column {
    margin-bottom: 20px;
    padding: 0px 15px;
}

.press-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 15px;

    li {
        list-style: none;
        margin: 15px;
    }
}

.home-header {
    background-image: url("../../images/Assets/Home_Masthead.png");
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 0;

    h2 {
	text-align: left;
    }

    p {
	width: auto;
	text-align: left;
    }
}

.header-left {
    width: 32%;
}

.header-right {
    margin-left: auto;
    width: 38%;
    display: flex;
    flex-direction: row;
}

.header-quote-right {
    width: 70%;
    p {
	margin-top: 150px;
	margin-left: auto;
	font-family: $font-oswald;
	font-size: 20px;
	line-height: 27px;
	text-transform: lowercase;
    }
}

.header-bar-right {
    margin-left: auto;
    width: 30%;

    hr {
	margin-top: 185px;
	width: 100%;
	height: 1px;
    }
}

.press {
    padding: 0;
}

#press {
    width: 100%;
}

#how-it-works {
    background-color: #f8f9f9;

    a {
	margin: auto;
    }
}

.suggest-btn {
    margin: auto;
}

.button-spacer {
    margin-top: 20px;
}

.hiw-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $color-white;

    .link-padding {
	padding-bottom: 48px;
    }

    img {
	padding-top: 10px;
    }

    p {
	font-family: $font-sans;
	font-size: 16px;
	line-height: 25px;
    }
}

.section-title {
    margin-bottom: 15px;
}

.icon {
    float: left;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#match-icon {
    height: 110px;
    margin-top: -10px;
}

.card-title {
    padding-top: 20px;
    font-family: $font-main;
    font-weight: 600;
}

#record-icon,
#report-icon {
    margin-right: -10px;
}

#record-icon {
    background-image: url("../../images/Assets/record-icon.svg");
}

#match-icon {
    background-image: url("../../images/Assets/match-icon.svg");
}

#report-icon {
    background-image: url("../../images/Assets/report-icon.svg");
}

#callisto-is-expanding {
    background-image: url("../../images/Assets/Quote_background.png");

    .paragraph-content-spacer {
	max-width: 670px;
    }

    p {
        font-size: 20px;
	font-weight: 300;
    }

    a {
	margin: auto;
    }
}

#our-supporters {
    background-color: #F8F9F9;
}

#our-partners {
    text-align: center;
    padding-bottom: 60px;

    h3 {
	padding-bottom: 0;
    }

    .section-title {
	margin-bottom: 10px;
    }

    a {
	text-algin: center;
    }

    img {
	width: 65%;
	margin-right: 5%;
	margin-left: 5%;
    }

    p {
	margin-right: 5%;
	margin-left: 5%;
    }
}

.input-sec {
    margin: 0 auto;
}

@media (max-width: $max-width-xs) {
    #press {
        display: none;
    }

    .img-responsive {
        display: block;
        height: auto;
    }

    .banner-contents {
        margin-bottom: 200px;
        width: 250px;
        text-align: center;
    }

    #stats li {
        display: block;
        float: none;
        width: 100%;
    }

    .header-bar-right {
	display: none;
    }

    .home-header {
	flex-direction: column;
	align-items: column;
	justify-content: column;
	padding-right: 3%;
	padding-left: 3%;
    }

    .header-left {
	width: 100%;
    }

    .header-right {
	width: 100%;
    }

    .header-quote-right {
	width: 60%;
	text-align: center;
	margin: auto;
	p {
	    text-align: center;
	    margin-top: 50px;
	}
    }

    .white-button {
	width: 100%;
    }
}

@media (min-width: $min-width-lg) {
    
    .hiw-section {
	width: 45%;

	.row {
	    margin-left: 15%;
	    margin-right: 15%;
	}
    }

    #our-partners {
	img {
	    width: 65%;
	    margin-right: 5%;
	    margin-left: 5%;
	}
    }
}

@media (max-width: $max-width-md) {
    .hiw-section {
	width: 100%;
    }

    .row {
	margin-left: 5%;
	margin-right: 5%;
    }

    #our-partners {
	img {
	    width: 100%;
	    margin-right: 5%;
	    margin-left: 5%;
	}
    }

    .vertical {
	    display: none;
    }
}
