html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-main;
    font-size: 16px;

    &.locked {
        overflow: hidden;
    }
}

p {
    margin-bottom: 24px;
    font-size: 18px;
    font-family: $font-sans;

    a {
        text-decoration: underline;
    }
}

p.pre-bullet {
    margin-bottom: 12px;
}

ul {
    padding: 0;
    margin-bottom: 24px;
    list-style-type: none;

    ul {
        padding-left: 20px;
    }
}

p.font-main {
    font-family: $font-main;
}

hr {
    border: 0;
    height: 2px;
    background-color: #979797;
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-top: 15px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    color: #ffffff;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 34px;
    font-size: 32px;
}

section h3 {
    font-size: 32px;
}

h3 {
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    color: $primary-title-color;
    font-family: $font-main;
    font-weight: 600;
    letter-spacing: 1px;
}

h4, h5 {
    line-height: 2em;
}

@mixin paragraph-content-spacer {
    max-width: 630px;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 0 40px;
}

.paragraph-content-spacer {
    @include paragraph-content-spacer;
}

/// bootstrap overrides

[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

////////////////////HEADER//////////////////////////

.navbar-toggle .icon-bar {
    background-color: $color-black;
}

a#brand_link {
    display: flex;
    margin-left: 2rem;
}

.header-nav {
    text-transform: lowercase;
    height: 80px;

    li {
        margin: 0 5px;
    }

    a {
        color: #0E687A;
        font-weight: 600;
    }
}

#id_header {
    font-family: $font-main;

    .donate-li {
        margin-right: 0;
        margin-left: 18px;
    }
}

.nav > li > a {
    &:hover,
    &:focus {
	background-color: $color-white;
    }
}


.dark-blue-btn {
    background-color: $color-button-background-dark;
    text-transform: capitalize;
}

#callisto {
    color: $color-callisto-logo;
    float: left;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.1px;
    margin-left: 7px;
    margin-top: 3px;
    outline: none;
    text-transform: uppercase;
}

.header-nav {
    background-color: $color-white;

    .footer-content {
        display: none;
    }
}

.nav {
    padding: 0;
}

#nav-border {
    border-image-slice: 1;

    border-style: solid;
    border-width: 2px;
}

h1, h2, h3 {
    color: $primary-title-color;
    text-align: center;
}

section p {
    font-size: 16px;
    text-align: center;
}

.gray-background {
    background-color: #F8F9F9;
}

section.expanded-section {
    &, p {
        text-align: left;
    }

    .paragraph-content-spacer {
        max-width: 900px;
    }
}

@mixin spacer-with-underline {
    border-bottom: 1px solid #D6E1E4;
}

.spacer-with-underline {
    @include spacer-with-underline;
}

.main-header {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-size: cover;
    background-position: center top;
    padding: 200px 10% 50px;
    justify-content: center;
    line-height: 2em;

    .gradient-button {
        margin: 0;
    }
}

.main-header h2 {
    font-size: 40px;
    margin-bottom: 16px;
    color: $color-white;
    text-align: center;
}

.main-header p {
    font-family: $font-main;
    color: $color-white;
    font-size: 20px;
    line-height: 1.4;
    width: 572px;
    font-weight: 400;
}

.pattern-section {
    background-image: url("../../images/Assets/Homepage_patternbackground.png");
}

.quote-section {
    color: #1C2E36;
    background-image: url("../../images/Assets/Homepage_patternbackground.png");
    flex-wrap: nowrap;
    line-height: 31px;
    text-align: center;
    font-size: 20px;
}

.quote-section blockquote {
    padding: 0;
    border: none;
}

.quote-section cite {
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
}

.gradient-button {
    background: linear-gradient(130.96deg, $color-blue-button 0%, $color-blue-deeper 100%);
    border-radius: 50px;
    border: 0;
    color: $color-white;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 13px 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-main;
    font-weight: 600;
    display: block;
    width: 400px;
    margin: auto;

    &.long-button {
        width: 550px;
    }

    a {
        color: white;
    }
}

section {
    padding: 40px 20px 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 2em;
}

ul.navbar-collapse {
    clear: both;
}

.navbar {
    padding: 0;
    height: 80px;
}

.navbar-brand {
    margin-top: .5rem;
}

.navbar-toggle {
    margin-bottom: .5rem;
}

.nav-button {
    background: $color-blue-button;
    border: 0;
    width: 215px;
    height: 45px;
    font-family: $font-main;
    color: $color-white !important;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-right: 3.5rem;
    text-align: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    &:hover, &:focus {
	background: $color-blue-button-hover !important;
    }

}

.paragraph-extra-spacer {
    padding: 15px 0 30px;
}

.partner-btn {
    margin-top: 30px;
    text-align: center;
}

#mc_embed_signup {
    height: 48px;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;

    .form-control {
        border: 1.5px solid #385C6C;
        max-width: 405px;
        border-radius: 4px;
        margin: 0 auto;
        padding: 20px;
    }
}

.form-group {
    text-align: left;
}

.checkbox {
    display: inline-block;
    padding: 10px;
}

.checkbox span {
    padding: 0 10px;
}

.checkbox input {
    height: 25px;
    width: 25px;
    border: 2px solid #00758F;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-top: -1px;
}

// tablet and desktop
@media (min-width: $min-width-md) {
    .navbar-nav > li > a {
	vertical-align: middle;
    }

    #id_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// desktop
@media (min-width: $min-width-lg) {
    .navbar {
        display: flex;
    }

    .flex-on-large {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
}

// mobile and tablet
@media (max-width: $max-width-md) {
    .flex-on-large > * {
        margin: 0 auto 40px;
        max-width: 500px;
    }

    h2, h3 {
        font-size: 25px;
    }

    .header-nav {
	li {
	    margin: -5px;
	}
    }

    .nav-button {
        margin-right: 1rem !important;
	width: 100px;
	height: 45px;
    }

    .main-header p {
        font-size: 16px;
        width: auto;
    }

    a#brand_link {
	margin-left: 1rem;
    }

    #callisto {
        font-size: 18px;
    }

    .gradient-button {
        &, &.long-button {
            padding: 10px;
            width: 100%;
        }
    }
}

// mobile
@media (max-width: $max-width-sm) {
    .header-nav {
	height: 0px;
    }

    #id_header .donate-li {
        padding: 40px 0;

        a {
            padding: 60px;
        }
    }

    a#brand_link {
        position: absolute;
    }
}

@media (max-width: $max-width-xs) {
    form {
        padding: 0;
    }

    input,
    textarea {
        width: 100%;
    }
}

// "micro"
@media (max-width: 300px) {
    #callisto {
        display: none;
    }
}
