body {
    font-family: $font-main;
    font-size: 16px;

    &.locked {
        overflow: hidden;
    }
}

p {
    font-family: $font-sans;
}

h1 {
    margin-top: 15px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    color: #ffffff;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 34px;
    font-size: 32px;
}

h3 {
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    color: $primary-title-color;
    font-family: $font-main;
    font-weight: 600;
    letter-spacing: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 630px;
    margin: 0 auto;
}

.nav > li > a {
    &:hover,
    &:focus {
        background-color: $color-white;
    }
}

////////////////////HEADER//////////////////////////

.nav-button {
    background: linear-gradient(130.96deg, $color-blue-button 0%, $color-blue-deeper 100%);
    border-radius: 50px;
    border: 0;
    color: $color-white;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-transform: uppercase;
    margin-top: 7px;

    a {
        color: white;
    }
}

.navbar-toggle .icon-bar {
    background-color: $color-black;
}

#id_header {
    height: 80px;
    border-radius: 0;
    margin-bottom: 0;

    button {
        padding: 10px;

        &:hover, &:active, &:focus {
            outline: 6px auto $color-button-outline;
        }
    }
}

.callisto-logo {
    margin-left: 15px;
    float: left;
    height: 45px;
    width: 45px;
}

.dark-blue-btn {
    background-color: $color-button-background-dark;
    text-transform: capitalize;
}

#callisto {
    color: $color-callisto-logo;
    float: left;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.1px;
    margin-left: 7px;
    margin-top: 0;
    outline: none;
    text-transform: uppercase;
}

.header-nav {
    align-items: center;
    background-color: $color-white;
    display: flex;
    padding: 17px 32px;

    .footer-content {
        display: none;
    }
}

#nav-border {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, $color-peach, $color-cyan);
    border-style: solid;
    border-width: 2px;
}

h1, h2, h3 {
    color: $primary-title-color;
    text-align: center;
}

section p {
    font-size: 16px;
    text-align: center;
}

.main-header {
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    background-size: cover;
    background-position: center top;
    padding: 200px 20px 50px;
    justify-content: flex-start;

    .gradient-button {
        margin: 0;
    }
}

.main-header h2 {
    font-size: 40px;
    margin-bottom: 16px;
    color: $color-white;
    text-align: left;
}

.main-header p {
    font-family: $font-main;
    color: $color-white;
    font-size: 20px;
    line-height: 1.4;
    width: 572px;
    font-weight: 400;
}

.quote-section {
    background-image: url("../../images/Assets/QuotePattern_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    line-height: 31px;
    text-align: center;
}

.quote-section blockquote {
    padding: 0;
}

.quote-section span {
    font-size: 1em;
}

.gradient-button {
    background: linear-gradient(130.96deg, $color-blue-button 0%, $color-blue-deeper 100%);
    border-radius: 50px;
    border: 0;
    color: $color-white;
    min-width: 300px;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 13px 39px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-main;
    font-weight: 600;

    a {
        color: white;
    }
}

.gradient-button:hover,
.gradient-button:focus {
    color: $color-white;
}

section {
    padding: 60px $container-padding-lg;
    text-align: center;
}

.footer {
    padding: 20px 70px;
}

.nav.navbar-nav {
    background: white;
    padding: 15px;
}

.top_nav {
    display: block;
    margin-bottom: 20px;

    img {
        float: left;
        margin: -11px 0 0 0;
    }

    ul {
        margin-left: 110px;
    }
}

.bottom_nav {
    padding-top: 20px;
    border-top: 1px solid #A4B3B7;
}

.float_left {
    float: left;

    p {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.float_right {
    float: right;

    p {
        font-size: 16px;
    }
}

.footer_links {
    li {
        display: inline-block;
        padding: 0 32px;
        text-align: center;
        font-size: 14px;
    }
}

.footer-icon {
    width: 25px;
    display: inline;
    float: right;
    margin: 5px;
}

@media only screen and (max-width: $max-width-md) {
    section {
        padding: 60px 15px;
        text-align: center;
    }

    .navbar-nav {
        margin: 0 auto;
        white-space: nowrap;
    }

    #mainbody-container nav {
        padding: 0;
    }

    .navbar-brand {
        margin-top: .5rem;
    }

    .navbar-right {
        li {
            margin-left: 18px;
        }
    }

    .top_nav ul {
        margin-left: 15px;
    }

    .footer_links {
        margin: 0;

        li {
            padding: 0 5px;
        }
    }
}

@media (max-width: $max-width-xs) {
    .navbar {
        align-items: center;
        display: flex;
    }

    .navbar-right {
        background-color: $color-white;
        left: -1%;
        margin: 0;
        margin-left: auto;
        position: absolute;
        top: 100%;
        width: 102%;

        li {
            border-bottom: 1px solid $color-transparent;
            margin-left: 0;
            padding: 0 10px;

            a {
                text-align: left !important;
            }

            &.donate-li {
                border-bottom: 0;
                margin: 40vh auto 25vh;
                width: 240px;
            }

            .nav-button {
                margin-top: 32px;
                text-align: center !important;
            }
        }
    }

    .navbar-left {
        position: relative;
        width: 100%;
    }

    section {
        padding: 50px $container-padding-sm;
    }

    h3 {
        font-size: 25px;
    }

    .main-header {
        flex-direction: column;
        padding: 0 20px;
    }

    .main-header h2 {
        font-size: 25px;
        margin-bottom: 6px;
        text-align: left;
    }

    .main-header p {
        font-size: 16px;
        margin-bottom: 32px;
        width: auto;
    }

    .main-header a {
        align-self: center;
        display: block;
        margin-bottom: 26px;
        width: 100%;
    }

    .gradient-button {
        font-size: 15px;
        min-width: auto;
        padding: 13px 21px;
    }

    ////////////////mobile footer/////////////////

    .footer {
        padding: 20px;

        .float_left, .float_right {
            font-size: 14px;
        }
    }

    .top_nav {
        ul {
            margin-left: 0;
        }

        img {
            display: none;
        }
    }

    .footer_links {
        padding-left: 0;
        margin-bottom: 0;

        li {
            text-align: left;
            display: block;
            padding: 0;
        }
    }

    .bottom_nav {
        .float_right {
            float: left;
        }

        .footer-icon {
            float: left;
        }
    }
}

/* sm (tablet) screens only */
@media only screen and (max-width: 992px) {
    #id_header ul > li > a {
        position: relative;
        display: block;
        padding: 10px 6px;
        max-width: 200px;
        margin: auto;
    }

    #callisto {
        font-size: 18px;
    }
}
