#ppWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 93px 30px 30px 30px;
  box-sizing: border-box;
  word-wrap: break-word;

  h4 {
    color: #1C2E36;
    font-family: $font-montserrat;
  }
  a {
    color: #333;
    text-decoration: underline;
  }
  p {
    line-height: 2em;
    font-size: 16px;
  }
}
#ppContent {
  width: 100%;
  max-width: 632px;
}
.boldItalic {
  font-style: italic;
  font-weight: bold;
}
