.stat-icon {
    height: 150px;
    width: 150px;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px rgba($color-stats-border, 0.7) solid;

    &, > * {
        border-radius: 50%;
    }

    > * {
        position: absolute;
    }

    .stat-white-inner-circle {
        $colored-border-size: 5%;

        background-color: #FFFFFF;
        width: 100% - $colored-border-size;
        height: 100% - $colored-border-size;
    }

    .stat-colored-border {
        background: linear-gradient(0deg, $color-stats-start 20%, $color-stats-end 80%);
        width: 100%;
        height: 100%;
    }

    .text {
        color: $primary-title-color;
        font-size: 40px;
        font-weight: 600;
    }
}

#stats {
    background-color: $color-background-grey;

    li {
        list-style-type: none;
        padding: 15px;
    }
}

@media (max-width: $max-width-xs) {
    #stats {
        li {
            display: block;
            float: none;
            width: 100%;
        }
    }
}
