/* What We Do page styling */

.main-header {
    padding: 130px 10% 130px;
}

#what-banner {
    background-image: url("../images/What_We_do_2.jpg");
}

.what-we-do-header {
    background-image: url("../../images/Assets/masthead_2.png");
}


.extra-spacer {
    padding-top: 25px;
}

.callisto-campus, .expansion {
    h5 {
        margin-top: 0;
    }

    h4, h5, p {
        text-align: left;
    }

    .value-prop-item {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        padding: 20px 0 0;
    }

    .value-prop-item img {
        margin-right: 25px;
	width: 100px;
    }
}

.quote-section {
    blockquote {
	font-weight: 300;
    }

    cite {
	font-weight: 900;
    }
}

@media (max-width: $max-width-sm) {
    .callisto-campus {
        h4, h5 {
            text-align: center;
            margin-top: 20px;
        }

        .value-prop-item {
            flex-direction: column;
        }

        .value-prop-item img {
            align-self: center;
            margin-bottom: 8px;
            margin-right: 0;
        }
    }
}

@media (max-width: $max-width-md) {
    *[class*='col-lg']{
	padding-top:10px;
    }
}
