/* Who We Are page styling */
#who-banner {
    background-image: url("../images/Who_We_Are.jpg");
}

.who-we-are-header {
    background-image: url("../../images/Assets/masthead_2.png");
}

.our-team {
    background-color: rgba(218, 226, 224, 0.2);
}
