.work-with-us-header {
    background-image: url("../../images/Assets/masthead_2.png");
}

.darker-background {
  background-color: #F8F9F9;

  .gradient-button {
    margin-top: 10px;
  }
}

.our-values {
    p {
	text-align: left;
    }
}

article {
  @include paragraph-content-spacer;
  @include spacer-with-underline;

  max-width: 900px;
  margin-bottom: 80px;

  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}
