.work-with-us-header {
  background-image: url("../../images/Assets/career_masthead.png");
}

.darker-background {
  background-color: #F8F9F9;

  .gradient-button {
    margin-top: 10px;
  }
}

.our-values {
  p {
    text-align: left;
  }

  ul {
    font-family: $font-sans;
    list-style-type: circle;
    margin-left: 20px;
  }
}

article {
  @include paragraph-content-spacer;
  @include spacer-with-underline;

  max-width: 900px;
  margin-bottom: 80px;

  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

@media (max-width: $max-width-md) {
   .main-header {
      background-position: 53%;
  }
}
