@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700");
section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

h3 {
  width: 100%;
  text-align: center; }

.home-header {
  background-image: url("../../images/Assets/Homepage_headerimage.png"); }

.press {
  padding: 0; }

#press {
  width: 100%; }

#how-it-works {
  padding: 50px 0; }
  #how-it-works > p,
  #how-it-works .how-intro > p {
    padding: 0 197px; }
  #how-it-works #how-it-works-sections {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around; }
  #how-it-works .hiw-section {
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2;
    max-width: 250px;
    margin: 20px 60px 0; }
    #how-it-works .hiw-section div {
      display: block; }
    #how-it-works .hiw-section p {
      font-weight: 600; }
  #how-it-works .section-title {
    margin-bottom: 15px; }
  #how-it-works .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 10px;
    margin-right: -10px; }
  #how-it-works h4 {
    width: 100%; }
  #how-it-works #match-icon {
    height: 110px;
    margin-top: -10px; }
  #how-it-works #record-icon,
  #how-it-works #report-icon {
    margin-right: -10px; }
  #how-it-works .section-title {
    margin-bottom: 15px; }

#record-icon {
  background-image: url("../../images/Assets/record-icon.svg"); }

#match-icon {
  background-image: url("../../images/Assets/match-icon.svg"); }

#report-icon {
  background-image: url("../../images/Assets/report-icon.svg"); }

#ted-talk {
  background-image: url("../../images/Assets/Homepage_patternbackground.png");
  background-repeat: none;
  background-size: cover; }
  #ted-talk p {
    font-size: 20px; }

#stats {
  background-color: #f8f9f9;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  #stats h3 {
    margin: 0 auto; }
  #stats li {
    float: left;
    list-style-type: none;
    padding: 15px;
    width: 33%; }
  #stats p {
    padding: 0 15px; }

.stats-sections {
  margin-top: 20px; }
  .stats-sections ul {
    padding-left: 0; }

#our-supporters {
  background-color: #F8F9F9; }

#our-partners img {
  margin: 0 auto;
  width: 100%; }

#our-partners button {
  margin: 0 auto; }

#stay-updated {
  background: url("../../images/closer_background.png");
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 400px; }

#mc-embedded-subscribe {
  width: 300px; }

.input-sec {
  margin: 0 auto; }

@media (max-width: 768px) {
  #press {
    display: none; }
  #ted-talk p {
    padding: 0; }
  #how-it-works .extra {
    padding: 0 20px; }
  .img-responsive {
    display: block;
    height: auto; }
  .banner-contents {
    margin-bottom: 200px;
    width: 250px;
    text-align: center; }
  #stats li {
    display: block;
    float: none;
    width: 100%; }
  .input-sec {
    margin: 0;
    width: 100%; }
    .input-sec #mc_embed_signup {
      width: 100%; }
      .input-sec #mc_embed_signup .form-control {
        border: 1.5px solid #385C6C;
        border-radius: 4px; }
      .input-sec #mc_embed_signup #mc-embedded-subscribe {
        width: 100%; }
  #how-it-works .how-intro {
    padding: 40px 20px 0; }
  #stay-updated {
    background-size: 200px; } }
