@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700");
body {
  font-family: "Montserrat", "Open Sans", sans-serif; }

h3 {
  color: #385C6C;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  text-transform: none; }

.main-header {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 377px;
  padding: 60px 115px;
  width: 100%; }

.main-header h2 {
  font-size: 40px;
  font-weight: 500; }

.main-header p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 572px; }

.gradient-button {
  background: linear-gradient(130.96deg, #009ab0 0%, #00758f 100%);
  border-radius: 50px;
  border: 0;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 13px 26px;
  text-transform: uppercase;
  width: 300px; }
  .gradient-button a {
    color: white; }

section {
  padding: 60px 197px; }
