@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700");
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px; }

h3 {
  color: #385C6C;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-transform: none; }

h4 {
  color: #385C6C;
  font-weight: 500; }

section p {
  font-size: 16px;
  text-align: center; }

.main-header {
  align-items: flex-start;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 377px;
  padding: 60px 115px;
  width: 100%; }

.main-header h2 {
  font-size: 40px;
  font-weight: 500; }

.main-header p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 572px; }

.gradient-button {
  background: linear-gradient(130.96deg, #009ab0 0%, #00758f 100%);
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 13px 39px;
  text-transform: uppercase;
  width: 300px; }
  .gradient-button a {
    color: white; }

.gradient-button:hover,
.gradient-button:focus {
  color: #fff; }

section {
  padding: 60px 197px;
  text-align: center; }

@media (max-width: 768px) {
  section {
    padding: 50px 20px; }
  h3 {
    font-size: 25px; }
  .main-header {
    flex-direction: column;
    height: 372px;
    padding: 0 20px; }
  .main-header h2 {
    font-size: 25px;
    margin-bottom: 6px; }
  .main-header p {
    font-size: 16px;
    width: auto; }
  .main-header a {
    align-self: center;
    display: block;
    margin-bottom: 26px; }
  .gradient-button {
    font-size: 15px;
    padding: 13px 21px; } }

p {
  color: #1C2E36;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6; }

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.what-we-do-header {
  background-image: url("../../images/Assets/Whatwedo_headerimage.png");
  background-size: cover;
  background-repeat: no-repeat; }

.our-approach {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 197px; }

.our-approach p {
  margin-bottom: 30px; }

.quote-section {
  background-image: url("../../images/Assets/QuotePattern_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 300;
  line-height: 31px;
  text-align: center; }

.quote-section span {
  font-size: 1em;
  font-weight: 500; }

.callisto-campus {
  padding: 44px 197px; }

.callisto-campus article > b {
  display: block;
  margin-bottom: 30px; }

.callisto-campus b {
  color: #2B4A59; }

.callisto-campus p {
  font-family: "Open Sans", Helvetica, "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  text-align: left; }

.callisto-campus .value-prop-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row; }

.callisto-campus .value-prop-item img {
  margin-right: 25px;
  width: 106px; }

.callisto-campus b {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase; }

.expansion p {
  line-height: 26px; }

@media (max-width: 768px) {
  .our-approach {
    padding: 30px 20px; }
  .callisto-campus {
    padding: 20px 20px; }
  .callisto-campus .value-prop-item {
    flex-direction: column; }
    .callisto-campus .value-prop-item b {
      text-align: center; }
    .callisto-campus .value-prop-item img {
      align-self: center;
      margin-bottom: 8px;
      margin-right: 0; }
  .callisto-campus .value-prop-item p {
    font-size: 16px;
    text-align: center; }
  .quote-section {
    font-size: 18px; }
    .quote-section blockquote {
      font-size: 16px;
      padding: 0; }
    .quote-section span {
      font-size: 14px; } }
