@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700");
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px; }

nav {
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(34, 35, 40, 0.1);
  display: flex;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100; }
  nav ul > li > a {
    color: #0e687a;
    font-weight: 500;
    text-align: right;
    text-decoration: none; }
    nav ul > li > a:hover, nav ul > li > a:focus {
      background-color: #fff; }

#nav-btn {
  height: 32px;
  width: 120px;
  text-align: center;
  padding-top: 4px; }

.nav > li > a {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0; }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    outline: none;
    text-decoration: none; }
    .nav > li > a:hover::after, .nav > li > a:focus::after {
      background-color: #0e687a;
      bottom: -2px;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: calc(100% - 30px); }

.navbar-right {
  align-items: center;
  clear: both;
  display: flex;
  white-space: nowrap; }
  .navbar-right li {
    margin-left: 30px;
    margin-right: 0; }

.navbar-brand {
  align-items: center;
  display: flex;
  outline: 0;
  text-decoration: none; }
  .navbar-brand:hover {
    text-decoration: none; }

#id_header .navbar-left {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.footer {
  background-color: #fff;
  box-shadow: 0 20px 40px 20px rgba(34, 35, 40, 0.2); }

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 36px;
  width: 100%;
  justify-content: flex-end; }

.footer-content .nav {
  margin: 0 auto; }

.footer-content .navbar-nav > li > a {
  color: #1c2e36;
  font-size: 14px;
  padding: 0 17px; }
  .footer-content .navbar-nav > li > a:hover::after {
    background-color: #1c2e36; }

#id_footer {
  border: 0;
  box-shadow: none; }

.footer-content .footer-copyright {
  align-items: flex-start;
  border-top: 1px solid rgba(164, 179, 183, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 30px;
  padding: 20px 0 30px;
  width: 100%; }
  .footer-content .footer-copyright div {
    width: 80%; }
    .footer-content .footer-copyright div div {
      float: right; }
  .footer-content .footer-copyright img {
    margin-right: 30px; }
  .footer-content .footer-copyright span {
    margin-left: auto; }

.footer-nav li {
  padding-left: 35px; }

.copyright {
  float: right; }

.footer-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  padding-left: 36px;
  width: 100%; }

.footer-content a[href^='tel:'] {
  color: inherit; }

.footer .row {
  width: 100%; }

.navbar-toggle .icon-bar {
  background-color: #000; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }
  .navbar button {
    padding: 10px; }
    .navbar button:hover, .navbar button:active, .navbar button:focus {
      outline: 6px auto #ffae78; }

.callisto-logo {
  margin-left: 15px;
  float: left;
  height: 45px;
  width: 45px; }

.dark-blue-btn {
  background-color: #055f71;
  text-transform: capitalize; }

#callisto {
  color: #1c2e36;
  float: left;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2.1px;
  margin-left: 7px;
  margin-top: 0;
  outline: none;
  text-transform: uppercase; }

.header-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 17px 32px; }
  .header-nav .footer-content {
    display: none; }

#nav-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ffae78, #6ad0d4);
  border-style: solid;
  border-width: 2px; }

@media (min-width: 650px) {
  .navbar {
    align-items: center;
    display: flex; }
  .navbar-right {
    margin-left: auto; } }

@media only screen and (max-width: 768px) {
  .footer .navbar-nav {
    margin: 0 auto;
    white-space: nowrap; }
  #mainbody-container nav {
    padding: 0; }
  .navbar-brand {
    margin-top: .5rem; }
  .navbar-right li {
    margin-left: 18px; }
  .footer .navbar-nav {
    position: relative; } }

h3 {
  color: #385C6C;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-transform: none; }

h4 {
  color: #385C6C;
  font-weight: 500; }

section p {
  font-size: 16px;
  text-align: center; }

.main-header {
  align-items: flex-start;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 377px;
  padding: 60px 115px;
  width: 100%; }

.main-header h2 {
  font-size: 40px;
  font-weight: 500; }

.main-header p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 572px; }

.quote-section {
  background-image: url("../../images/Assets/QuotePattern_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 300;
  line-height: 31px;
  text-align: center; }

.quote-section span {
  font-size: 1em;
  font-weight: 500; }

.gradient-button {
  background: linear-gradient(130.96deg, #009ab0 0%, #00758f 100%);
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 13px 39px;
  text-transform: uppercase; }
  .gradient-button a {
    color: white; }

.gradient-button:hover,
.gradient-button:focus {
  color: #fff; }

section {
  padding: 60px 197px;
  text-align: center; }

@media (max-width: 768px) {
  section {
    padding: 50px 20px; }
  h3 {
    font-size: 25px; }
  .main-header {
    flex-direction: column;
    height: 372px;
    padding: 0 20px; }
  .main-header h2 {
    font-size: 25px;
    margin-bottom: 6px; }
  .main-header p {
    font-size: 16px;
    width: auto; }
  .main-header a {
    align-self: center;
    display: block;
    margin-bottom: 26px; }
  .gradient-button {
    font-size: 15px;
    padding: 13px 21px; } }

p {
  color: #1C2E36;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6; }

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.what-we-do-header {
  background-image: url("../../images/Assets/Whatwedo_headerimage.png");
  background-size: cover;
  background-repeat: no-repeat; }

.our-approach {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 197px; }

.our-approach p {
  margin-bottom: 30px; }

.callisto-campus {
  padding: 44px 197px; }

.callisto-campus article > b {
  display: block;
  margin-bottom: 30px; }

.callisto-campus b {
  color: #2B4A59; }

.callisto-campus p {
  font-family: "Open Sans", Helvetica, "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  text-align: left; }

.callisto-campus .value-prop-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row; }

.callisto-campus .value-prop-item img {
  margin-right: 25px;
  width: 106px; }

.callisto-campus b {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase; }

.expansion p {
  line-height: 26px; }

@media (max-width: 768px) {
  .our-approach {
    padding: 30px 20px; }
  .callisto-campus {
    padding: 20px 20px; }
  .callisto-campus .value-prop-item {
    flex-direction: column; }
    .callisto-campus .value-prop-item b {
      text-align: center; }
    .callisto-campus .value-prop-item img {
      align-self: center;
      margin-bottom: 8px;
      margin-right: 0; }
  .callisto-campus .value-prop-item p {
    font-size: 16px;
    text-align: center; }
  .quote-section {
    font-size: 18px; }
    .quote-section blockquote {
      font-size: 16px;
      padding: 0; }
    .quote-section span {
      font-size: 14px; } }
