@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700");
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px; }

p {
  font-family: "Open Sans"; }

main-header p, header p {
  font-family: "Montserrat"; }

.content {
  max-width: 630px;
  margin: 0 auto; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff; }

.nav-button {
  background: linear-gradient(130.96deg, #009ab0 0%, #00758f 100%);
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-transform: uppercase;
  margin-top: 7px; }
  .nav-button a {
    color: white; }

.navbar-toggle .icon-bar {
  background-color: #000; }

#id_header {
  height: 80px;
  border-radius: 0;
  margin-bottom: 0; }
  #id_header button {
    padding: 10px; }
    #id_header button:hover, #id_header button:active, #id_header button:focus {
      outline: 6px auto #ffae78; }

.callisto-logo {
  margin-left: 15px;
  float: left;
  height: 45px;
  width: 45px; }

.dark-blue-btn {
  background-color: #055f71;
  text-transform: capitalize; }

#callisto {
  color: #1c2e36;
  float: left;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2.1px;
  margin-left: 7px;
  margin-top: 0;
  outline: none;
  text-transform: uppercase; }

.header-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 17px 32px; }
  .header-nav .footer-content {
    display: none; }

#nav-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ffae78, #6ad0d4);
  border-style: solid;
  border-width: 2px; }

h3 {
  color: #385C6C;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-transform: none; }

h4 {
  color: #385C6C;
  font-weight: 500; }

section p {
  font-size: 16px;
  text-align: center; }

.main-header {
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 377px;
  padding: 0 0 60px 115px;
  width: 100%; }

.main-header h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px; }

.main-header p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 572px; }

.quote-section {
  background-image: url("../../images/Assets/QuotePattern_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: nowrap;
  font-weight: 300;
  line-height: 31px;
  text-align: center; }

.quote-section blockquote {
  padding: 0; }

.quote-section span {
  font-size: 1em;
  font-weight: 500; }

.gradient-button {
  background: linear-gradient(130.96deg, #009ab0 0%, #00758f 100%);
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-weight: 500;
  min-width: 300px;
  letter-spacing: 1px;
  padding: 13px 39px;
  text-align: center;
  text-transform: uppercase; }
  .gradient-button a {
    color: white; }

.gradient-button:hover,
.gradient-button:focus {
  color: #fff; }

section {
  padding: 60px 197px;
  text-align: center; }

.footer {
  padding: 20px 70px; }

.top_nav {
  display: block;
  margin-bottom: 20px; }
  .top_nav img {
    float: left;
    margin: -11px 0 0 0; }
  .top_nav ul {
    margin-left: 110px; }

.bottom_nav {
  padding-top: 20px;
  border-top: 1px solid #A4B3B7; }

.float_left {
  float: left; }
  .float_left p {
    font-size: 16px;
    margin-bottom: 0; }

.float_right {
  float: right; }
  .float_right p {
    font-size: 16px; }

.footer_links li {
  display: inline-block;
  padding: 0 32px;
  text-align: center;
  font-size: 14px;
  font-weight: 500; }

.footer-icon {
  width: 25px;
  display: inline;
  float: right;
  margin: 5px; }

@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    white-space: nowrap; }
  #mainbody-container nav {
    padding: 0; }
  .navbar-brand {
    margin-top: .5rem; }
  .navbar-right li {
    margin-left: 18px; } }

@media (max-width: 650px) {
  .navbar {
    align-items: center;
    display: flex; }
  .navbar-right {
    background-color: #fff;
    height: 600px;
    left: -1%;
    margin: 0;
    margin-left: auto;
    position: absolute;
    top: 100%;
    width: 102%; }
    .navbar-right li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      margin-left: 0;
      padding: 0 10px; }
      .navbar-right li a {
        text-align: left !important; }
      .navbar-right li.donate-li {
        bottom: 18%;
        border-bottom: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -18%);
        width: 240px; }
      .navbar-right li .nav-button {
        margin-top: 32px;
        text-align: center !important; }
  .navbar-left {
    position: relative;
    width: 100%; }
  section {
    padding: 50px 20px; }
  h3 {
    font-size: 25px; }
  .main-header {
    flex-direction: column;
    height: 372px;
    padding: 0 20px; }
  .main-header h2 {
    font-size: 25px;
    margin-bottom: 6px;
    text-align: left; }
  .main-header p {
    font-size: 16px;
    margin-bottom: 32px;
    width: auto; }
  .main-header a {
    align-self: center;
    display: block;
    margin-bottom: 26px;
    width: 100%; }
  .gradient-button {
    font-size: 15px;
    min-width: auto;
    padding: 13px 21px; }
  .footer {
    padding: 0; }
  .top_nav ul {
    margin-left: 0; }
  .top_nav img {
    display: none; }
  .footer_links {
    padding-left: 0; }
    .footer_links li {
      text-align: left;
      display: block;
      padding: 0; } }

.who-we-are-header {
  background-image: url("../../images/Assets/Whoweare_headerimage.png");
  padding: 0 115px 60px;
  background-size: cover; }

.our-history p {
  color: #1C2E36;
  font-family: "Open Sans", Helvetica, "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px; }

.our-team {
  background-color: rgba(218, 226, 224, 0.2);
  text-align: left; }

.our-team ul {
  list-style-type: none;
  padding: 0; }
  .our-team ul li {
    color: #1C2E36;
    font-size: 16px;
    margin-top: 15px; }

.our-team h4 {
  color: #2B4A59;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 40px;
  text-transform: uppercase; }

.wwa-section {
  padding: 50px 114px; }
  .wwa-section p {
    font-family: "Open Sans";
    font-size: 16px;
    text-align: left; }

.contact p {
  margin-bottom: 16px; }

hr {
  background-color: #D6E1E4;
  height: 1px;
  margin: 0 auto; }

@media (max-width: 650px) {
  .who-we-are-header {
    padding: 0 20px; }
  .wwa-section {
    padding: 32px 20px; }
    .wwa-section p {
      margin-bottom: 0;
      text-align: center; } }
